Repository golangci/golangci-lint, pull requests merged in 2020-07, with the labels that each got.

#1212 Fixed docs link: points at contributing section
  docs/src/docs/usage/faq.mdx
Labels: bug, docs

#1228 gofumpt: Add extra-rules option + update linter
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/gofumpt.go
Labels: enhancement, linter: update

#1218 Sorting result.Issues implementation (golangci/golangci-lint#1217)
  pkg/commands/run.go
  pkg/config/config.go
  pkg/lint/runner.go
  pkg/result/processors/sort_results.go
  pkg/result/processors/sort_results_test.go
  test/run_test.go
  test/testdata/sort_results/main.go
Labels: enhancement

#1243 Run nancy validation for all dependencies
  .github/workflows/pr-extra.yml
Labels: area: tests, enhancement

#1244 Improve 'no such linter' error message
  pkg/lint/lintersdb/validator.go
Labels: cosmetic

#1239 Support --fix for gofumpt
  go.mod
  go.sum
  pkg/golinters/gofmt.go
  pkg/golinters/gofmt_common.go
  pkg/golinters/gofumpt.go
  pkg/golinters/goimports.go
  test/testdata/fix/in/gofumpt.go
  test/testdata/fix/out/gofumpt.go
  test/testdata/gofumpt.go
  test/testdata/gofumpt_with_extra.go
Labels: linter: update
