Repository golangci/golangci-lint, pull requests merged in 2020-05, with the labels that each got.

#1140 bump gomodguard version
  .golangci.example.yml
  docs/src/docs/contributing/workflow.mdx
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/gomodguard.go
Labels: linter: update

#1155 add ability to set issue severity
  .gitignore
  .golangci.example.yml
  go.mod
  pkg/config/config.go
  pkg/config/reader.go
  pkg/lint/runner.go
  pkg/printers/checkstyle.go
  pkg/printers/codeclimate.go
  pkg/printers/github.go
  pkg/result/issue.go
  pkg/result/processors/base_rule.go
  pkg/result/processors/exclude_rules.go
  pkg/result/processors/exclude_rules_test.go
  pkg/result/processors/exclude_test.go
  pkg/result/processors/processor_test.go
  pkg/result/processors/severity_rules.go
  pkg/result/processors/severity_rules_test.go
  pkg/result/processors/testdata/severity_rules.go
Labels: enhancement

#1171 Update not found url in new-linters.mdx
  docs/src/docs/contributing/new-linters.mdx
Labels: docs
