Repository golangci/golangci-lint, pull requests merged in 2020-12, with the labels that each got.

#1548 Update gofumpt to HEAD.
  go.mod
  go.sum
Labels: linter: update

#1541 Add thelper linter
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/thelper.go
  pkg/lint/lintersdb/manager.go
  test/testdata/thelper.go
Labels: linter: new

#1558 deps: Bump github.com/tommy-muehle/go-mnd@v2.2.0
  .golangci.example.yml
  go.mod
  go.sum
Labels: linter: update

#1562 Add settings examples for gocritic
  .golangci.example.yml
Labels: docs

#1571 fix: nolintlint comment analysis.
  pkg/golinters/nolintlint/nolintlint.go
  pkg/golinters/nolintlint/nolintlint_test.go
  test/errchk.go
Labels: bug, linter: update

#1569 Add forbidigo linter
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/forbidigo.go
  pkg/lint/lintersdb/manager.go
  test/testdata/configs/forbidigo.yml
  test/testdata/forbidigo.go
Labels: linter: new

#1572 Resolve custom linters' path relative to config file directory
  pkg/lint/lintersdb/manager.go
Labels: enhancement

#1573 Update nolintlint to fix nolint formatting and remove unused nolint statements
  pkg/golinters/nolintlint.go
  pkg/golinters/nolintlint/nolintlint.go
  pkg/golinters/nolintlint/nolintlint_test.go
  pkg/result/issue.go
  pkg/result/processors/nolint.go
  test/testdata/fix/in/nolintlint.go
  test/testdata/fix/out/nolintlint.go
  test/testdata/nolintlint.go
Labels: linter: update

#1578 Bump go-header to v0.4.1
  go.mod
  go.sum
  pkg/golinters/goheader.go
Labels: linter: update

#1588 Update assets for v1.34.0
  CHANGELOG.md
  README.md
  assets/github-action-config.json
  docs/template_data.state
Labels: ci: github_actions
