Repository golangci/golangci-lint, pull requests merged in 2021-04, with the labels that each got.

#1886 typecheck: improve error stack parsing.
  .github/workflows/pr.yml
  pkg/packages/util.go
  pkg/packages/util_test.go
Labels: bug

#1899 Bump importas to HEAD
  .golangci.example.yml
  go.mod
  go.sum
Labels: linter: update

#1906 Add tagliatelle linter
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/tagliatelle.go
  pkg/lint/lintersdb/manager.go
  test/testdata/tagliatelle.go
Labels: linter: new

#1911 Clean configuration, documentation, and code
  .github/stale.yml
  .github/workflows/post-release.yml
  .gitignore
  .golangci.example.yml
  .golangci.yml
  cmd/golangci-lint/mod_version.go
  pkg/lint/lintersdb/manager.go
  pkg/lint/runner.go
Labels: topic: cleanup

#1917 fix: comma in exclude pattern leads to unexpected results
  pkg/commands/run.go
  pkg/config/reader.go
  pkg/lint/runner.go
Labels: bug

#1922 Update wsl to 3.3.0, sort config in example config
  .golangci.example.yml
  .nancy-ignore
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/wsl.go
Labels: linter: update

#1927 Update wrapcheck to v1.2.0
  go.mod
  go.sum
Labels: linter: update

#1929 dev: cleanup config package
  pkg/config/config.go
  pkg/config/issues.go
  pkg/config/issues_test.go
  pkg/config/linters.go
  pkg/config/linters_settings.go
  pkg/config/linters_settings_gocritic.go
  pkg/config/linters_settings_gocritic_test.go
  pkg/config/output.go
  pkg/config/run.go
  pkg/config/severity.go
Labels: area: config, topic: cleanup

#1930 gosec: add configuration
  .golangci.example.yml
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/gosec.go
  pkg/lint/lintersdb/manager.go
  test/testdata/configs/gosec.yml
  test/testdata/gosec_rules_config.go
Labels: linter: update

#1946 staticcheck: configurable Go version.
  .golangci.example.yml
  pkg/config/linters_settings.go
  pkg/golinters/gosimple.go
  pkg/golinters/megacheck.go
  pkg/golinters/staticcheck.go
  pkg/golinters/staticcheck_common.go
  pkg/golinters/stylecheck.go
  pkg/golinters/unused.go
  pkg/lint/lintersdb/manager.go
Labels: area: config, enhancement

#1947 Update Wrapcheck to v2, add configuration
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/wrapcheck.go
  pkg/lint/lintersdb/manager.go
Labels: linter: update
