Repository golangci/golangci-lint, pull requests merged in 2021-02, with the labels that each got.

#1666 Print error message and exit with non-zero status when ruleguard parse error occurs
  go.mod
  go.sum
  pkg/golinters/gocritic.go
Labels: linter: update

#1672 ifshort: add missing configuration.
  pkg/config/config.go
  pkg/golinters/ifshort.go
  pkg/lint/lintersdb/manager.go
Labels: bug

#1694 Use upstream version of prealloc
  go.mod
  go.sum
  pkg/golinters/prealloc.go
Labels: linter: update

#1688 Compile binaries with -trimpath enabled
  .goreleaser.yml
  build/Dockerfile
  build/Dockerfile.alpine
Labels: enhancement

#1696 bump thelper linter version to v0.3.0
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/thelper.go
  test/testdata/thelper.go
Labels: linter: update

#1647 Documentation on contributing
  docs/src/docs/contributing/new-linters.mdx
Labels: docs

#1720 Add plugin option for Goland
  docs/src/docs/usage/integrations.mdx
Labels: docs

#1731 Remove gometalinter comparison
  docs/src/config/sidebar.yml
  docs/src/docs/product/comparison.mdx
  docs/src/docs/usage/performance.mdx
Labels: docs

#1723 fix: new-from-rev for large repository.
  go.mod
  go.sum
Labels: bug

#1729 Add "revive" linter
  .golangci.example.yml
  .golangci.yml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/revive.go
  pkg/lint/lintersdb/manager.go
  test/testdata/configs/revive.yml
  test/testdata/revive.go
Labels: linter: new

#1734 Add 'durationcheck' linter
  go.mod
  go.sum
  pkg/golinters/durationcheck.go
  pkg/lint/lintersdb/manager.go
  test/testdata/durationcheck.go
Labels: linter: new

#1733 fix: wrong load mode
  pkg/golinters/asciicheck.go
  pkg/lint/lintersdb/manager.go
  test/testdata/asciicheck.go
  test/testdata/exhaustivestruct.go
  test/testdata/exportloopref.go
  test/testdata/makezero.go
  test/testdata/makezero_always.go
Labels: bug

#1740 Add go1.16 support
  .github/workflows/pr.yml
  .github/workflows/tag.yml
  Makefile
  build/Dockerfile
  build/Dockerfile.alpine
  go.sum
  test/testdata/govet.go
  test/testdata/sqlclosecheck.go
Labels: enhancement

#1738 Add 'cyclop' linter
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/cyclop.go
  pkg/lint/lintersdb/manager.go
  test/testdata/cyclop.go
Labels: linter: new

#1739 Use upstream gocyclo.
  go.mod
  go.sum
  pkg/golinters/gocognit.go
  pkg/golinters/gocyclo.go
Labels: forks, linter: update

#1742 Update doc for v1.37.0
  CHANGELOG.md
  README.md
  assets/github-action-config.json
  docs/template_data.state
Labels: area: docs

#1743 cyclop: add missing settings
  pkg/config/config.go
  pkg/golinters/cyclop.go
  pkg/lint/lintersdb/manager.go
  test/testdata/cyclop.go
  test/testdata/gocyclo.go
Labels: bug

#1747 revive: fix types and default configuration.
  go.mod
  pkg/golinters/revive.go
  test/testdata/configs/revive.yml
Labels: bug

#1746 exhaustivestruct: add missing settings
  .golangci.example.yml
  pkg/config/config.go
  pkg/golinters/exhaustivestruct.go
  pkg/lint/lintersdb/manager.go
  test/testdata/exhaustivestruct_custom.go
Labels: bug

#1744 durationcheck: False positive when multiplying with int type struct field
  go.mod
  go.sum
  test/testdata/durationcheck.go
Labels: bug, linter: update

#1751 docs: Update for v1.37.1
  README.md
  assets/github-action-config.json
  docs/template_data.state
Labels: area: docs

#1752 Exclude PRs about doc dependencies from release changelog.
  .goreleaser.yml
Labels: area: docs

#1750 Bump wsl to v3.2.0
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/wsl.go
  test/testdata/wsl.go
Labels: linter: update

#1660 Add docs on using homebrew tap
  docs/src/docs/usage/install/index.mdx
Labels: area: docs

#1360 Add stringintconv and ifaceassert to govet
  pkg/golinters/govet.go
  test/testdata/govet.go
  test/testdata/govet_ifaceassert.go
Labels: linter: new

#1576 Allow fix tests to run concurrently
  test/fix_test.go
Labels: area: tests

#1755 Deprecate `Interfacer` linter
  .golangci.yml
  pkg/commands/run.go
  pkg/config/config.go
  pkg/lint/linter/config.go
  pkg/lint/lintersdb/manager.go
  pkg/lint/runner.go
  test/testdata/interfacer.go
  test/testshared/testshared.go
Labels: linter: update

#1757 bump durationcheck from 0.0.4 to 0.0.6
  go.mod
  go.sum
Labels: bug, linter: update

#1758 Bump github.com/timakin/bodyclose to HEAD
  go.mod
  go.sum
Labels: linter: update

#1759 test: Bump github.com/shirou/gopsutil to v3.21.1
  go.mod
  go.sum
  test/bench/bench_test.go
Labels: area: tests

#1760 Bump github.com/Djarvur/go-err113 to HEAD
  go.mod
  go.sum
  test/testdata/goerr113.go
Labels: linter: update

#1756 Update staticcheck to v0.1.2 (2020.2.2)
  .golangci.yml
  go.mod
  go.sum
  pkg/golinters/unused.go
  test/testdata/staticcheck.go
  test/testdata/unused.go
Labels: linter: update

#1761 add doc for the profiling arguments
  docs/src/docs/usage/configuration.mdx
Labels: area: docs, enhancement

#1732 Remove comparison to gometalinter in benchmarks
  test/bench/bench_test.go
Labels: topic: cleanup

#1651 Add linter wastedassign
  go.mod
  go.sum
  pkg/golinters/wastedassign.go
  pkg/lint/lintersdb/manager.go
  test/testdata/wastedassign.go
Labels: linter: new

#1765 Deprecate maligned, add govet `fieldalignment` as replacement
  .golangci.example.yml
  pkg/golinters/govet.go
  pkg/lint/lintersdb/manager.go
  test/testdata/govet_fieldalignment.go
  test/testdata/maligned.go
Labels: linter: new

#1772 revive: add rule name in message.
  pkg/golinters/revive.go
  test/testdata/revive.go
Labels: bug

#1773 Support RelatedInformation for analysis Diagnostic.
  pkg/golinters/goanalysis/linter.go
Labels: enhancement

#1775 Update deprecated hyperlink for Sublime Text plugin.
  docs/src/docs/usage/integrations.mdx
Labels: area: docs

#1766 docs: improve gocritic description
  pkg/golinters/gocritic.go
Labels: area: docs

#1319 Use errcheck from main repo instead of golangci-lint fork
  go.mod
  go.sum
  pkg/commands/executor.go
  pkg/golinters/errcheck.go
  scripts/expand_website_templates/main.go
  test/run_test.go
  test/testdata/errcheck.go
  test/testdata/errcheck_ignore.go
  test/testdata/errcheck_ignore_default.go
  test/testdata/errcheck_type_assertions.go
Labels: forks, linter: update

#1780 Use upstream ineffassign instead of golangci fork
  go.mod
  go.sum
  pkg/golinters/ineffassign.go
  pkg/lint/lintersdb/manager.go
  test/run_test.go
  test/testdata/ineffassign.go
Labels: forks, linter: update

#1781 docs: improve the bug issue template.
  .github/ISSUE_TEMPLATE/bug_report.md
Labels: area: docs

#1785 Fix go-header usage
  .golangci.example.yml
Labels: area: docs

#1786 Using a version instead of commit id for goconst
  go.mod
  go.sum
Labels: linter: update

#1783 Integrate ImportAs linter
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/config.go
  pkg/golinters/importas.go
  pkg/lint/lintersdb/manager.go
  test/testdata/configs/importas.yml
  test/testdata/importas.go
Labels: linter: new

#1788 Add nilerr linter.
  go.mod
  go.sum
  pkg/golinters/nilerr.go
  pkg/lint/lintersdb/manager.go
  test/testdata/nilerr.go
Labels: linter: new

#1789 Add ForceTypeAssert linter
  go.mod
  go.sum
  pkg/golinters/forcetypeassert.go
  pkg/lint/lintersdb/manager.go
  test/testdata/forcetypeassert.go
Labels: linter: new

#1790 Update dependencies that dependabot cannot
  go.mod
  go.sum
Labels: linter: update

#1794 docs: update url of gocyclo linter
  pkg/lint/lintersdb/manager.go
Labels: area: docs

#1793 Use same default linter as go vet.
  pkg/golinters/govet.go
Labels: bug
