Repository golangci/golangci-lint, pull requests merged in 2022-07, with the labels that each got.

#2965 build(deps): bump github.com/daixiang0/gci from 0.3.4 to 0.4.0
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/gci.go
Labels: linter: update version

#2971 dev: change err to nil
  pkg/commands/cache.go
Labels: topic: cosmetic

#2973 build(deps): bump github.com/daixiang0/gci from 0.4.0 to 0.4.1
  .golangci.reference.yml
  go.mod
  go.sum
  test/testdata/fix/out/gci.go
  test/testdata/gci.go
Labels: linter: update version

#2974 dev: remove kortschak from generated team
  .github/contributors/generate.ts
Labels: area: docs

#2976 staticcheck: fix generics
  pkg/golinters/goanalysis/runner_loadingpackage.go
  pkg/golinters/goanalysis/runner_loadingpackage_ti.go
  pkg/golinters/goanalysis/runner_loadingpackage_ti_go117.go
Labels: bug

#2968 Add linter `asasalint` to lint pass []any as any
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/asasalint.go
  pkg/lint/lintersdb/manager.go
  test/testdata/asasalint.go
Labels: linter: new

#2981 docs: Update documentation and assets
  CHANGELOG.md
  README.md
  assets/github-action-config.json
  docs/template_data.state
Labels: area: docs

#2984 gci: remove the use of stdin
  go.mod
  pkg/golinters/gci.go
Labels: bug, linter: update

#2988 build(deps): bump github.com/sivchari/tenv from 1.6.0 to 1.7.0
  go.mod
  go.sum
Labels: bug, linter: update version

#2989 gci: fix options display
  pkg/golinters/gci.go
  test/testdata/gci.go
Labels: topic: cosmetic, linter: update

#2991 fix: generics
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/lint/lintersdb/manager.go
Labels: bug, linter: update

#2992 build(deps): bump github.com/daixiang0/gci from 0.4.2 to 0.4.3
  go.mod
  go.sum
Labels: bug, linter: update version

#2994 fix: disable structcheck for go >= 1.18
  pkg/lint/lintersdb/manager.go
Labels: bug

#2995 Revert 'fix: generics (#2991)'
  pkg/lint/lintersdb/manager.go
Labels: bug

#2999 revive: ignore slow rules
  CHANGELOG.md
  pkg/golinters/revive.go
Labels: bug, linter: update

#3000 docs: Update documentation and assets
  CHANGELOG.md
  README.md
  assets/github-action-config.json
  docs/template_data.state
Labels: area: docs

#3001 feat: remove some go1.18 limitations
  pkg/golinters/govet.go
  pkg/lint/lintersdb/manager.go
Labels: enhancement, linter: update

#3003 build(deps): bump github.com/alingse/asasalint from 0.0.10 to 0.0.11
  .golangci.reference.yml
  go.mod
  go.sum
Labels: linter: update version

#3007 dev: clean commands
  pkg/commands/cache.go
  pkg/commands/config.go
  pkg/commands/help.go
  pkg/commands/linters.go
  pkg/commands/root.go
  pkg/commands/run.go
  pkg/commands/version.go
Labels: area: CLI

#3012 dev: change format like function without args
  internal/cache/cache.go
  internal/cache/default.go
  pkg/commands/run.go
  pkg/config/linters_settings_gocritic_test.go
  pkg/config/reader.go
  pkg/golinters/goanalysis/linter.go
  pkg/lint/lintersdb/validator.go
  pkg/result/processors/autogenerated_exclude.go
  pkg/result/processors/nolint.go
  scripts/expand_website_templates/main.go
  test/bench/bench_test.go
  test/errchk.go
  test/testdata_etc/abspath/with_issue.go
Labels: topic: cosmetic

#3013 doc: add Bytebase info the trusted-by page
  docs/src/docs/product/trusted-by.mdx
Labels: area: docs

#3019 gci: fix panic with invalid configuration option
  pkg/golinters/gci.go
Labels: bug, linter: update

#3025 cgo: fix many linters ignoring Cgo files
  pkg/golinters/dupl.go
  pkg/golinters/gci.go
  pkg/golinters/gofmt.go
  pkg/golinters/gofumpt.go
  pkg/golinters/goimports.go
  pkg/golinters/gomodguard.go
  pkg/golinters/lll.go
  pkg/golinters/misspell.go
  pkg/golinters/revive.go
  pkg/golinters/util.go
  pkg/golinters/wsl.go
  test/run_test.go
  test/testdata/cgo_with_issues/main.go
Labels: bug, cgo

#3028 docs: fix broken license link
  docs/src/docs/index.mdx
Labels: area: docs
