Repository golangci/golangci-lint, pull requests merged in 2022-09, with the labels that each got.

#3174 feat: update gofmt and goimports and add option "rewrite-rules"
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/gofmt.go
  pkg/golinters/gofmt_common.go
  pkg/golinters/goimports.go
  test/testdata/configs/gofmt_rewrite_rules.yml
  test/testdata/fix/in/gofmt_rewrite_rules.go
  test/testdata/fix/out/gofmt_rewrite_rules.go
  test/testdata/gofmt_rewrite_rules.go
Labels: enhancement, linter: update

#3139 dev: review and clean linter tests
  .golangci.yml
  pkg/result/processors/sort_results.go
  test/enabled_linters_test.go
  test/run_test.go
  test/testdata/configs/errcheck_exclude.txt
  test/testdata/configs/errcheck_exclude.yml
  test/testdata/configs/exclude_functions.yml
  test/testdata/configs/ignore_config.yml
  test/testdata/errcheck/exclude.txt
  test/testdata/errcheck_exclude_functions.go
  test/testdata/errcheck_ignore.go
  test/testdata/govet_custom_formatter.go
  test/testshared/runner.go
Labels: topic: cleanup, area: tests

#3194 interfacebloat: fix configuration loading
  pkg/config/linters_settings.go
  pkg/golinters/interfacebloat.go
Labels: bug, area: config, linter: update

#3144 feat: rename logrlint to loggercheck
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/loggercheck.go
  pkg/golinters/logrlint.go
  pkg/lint/lintersdb/manager.go
  test/linters_test.go
  test/testdata/loggercheck/configs/loggercheck_custom.yml
  test/testdata/loggercheck/configs/loggercheck_kitlogonly.yml
  test/testdata/loggercheck/configs/loggercheck_logronly.yml
  test/testdata/loggercheck/configs/loggercheck_noprintflike.yml
  test/testdata/loggercheck/configs/loggercheck_requirestringkey.yml
  test/testdata/loggercheck/configs/loggercheck_zaponly.yml
  test/testdata/loggercheck/go.mod
  test/testdata/loggercheck/go.sum
  test/testdata/loggercheck/loggercheck_custom.go
  test/testdata/loggercheck/loggercheck_default.go
  test/testdata/loggercheck/loggercheck_kitlogonly.go
  test/testdata/loggercheck/loggercheck_logronly.go
  test/testdata/loggercheck/loggercheck_noprintflike.go
  test/testdata/loggercheck/loggercheck_requirestringkey.go
  test/testdata/loggercheck/loggercheck_zaponly.go
  test/testdata/loggercheck/logrlint_compatiblity.go
  test/testdata/logrlint/go.mod
  test/testdata/logrlint/go.sum
Labels: linter: update version, linter: update

#3170 feat: add testableexamples linter
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/golinters/testableexamples.go
  pkg/lint/lintersdb/manager.go
  test/testdata/testableexamples_test.go
Labels: linter: new

#3198 contextcheck: change owner
  CHANGELOG.md
  go.mod
  go.sum
  pkg/golinters/contextcheck.go
  pkg/lint/lintersdb/manager.go
Labels: linter: update version

#3212 exhaustive: add missing config
  .golangci.reference.yml
  pkg/config/linters_settings.go
  pkg/golinters/exhaustive.go
Labels: enhancement, linter: update

#3211 dev: improve tests on Windows
  pkg/golinters/depguard.go
  pkg/result/processors/fixer.go
  test/testdata/depguard_ignore_file_rules.go
Labels: enhancement, platform: windows, area: tests

#3202 wsl: support all configs and update docs
  .golangci.reference.yml
  pkg/config/linters_settings.go
  pkg/golinters/wsl.go
Labels: enhancement, linter: update

#3204 dev: add doc about internal package extracted from Go
  .golangci.yml
  internal/cache/cache.go
  internal/cache/readme.md
  internal/renameio/readme.md
  internal/renameio/umask_test.go
  internal/robustio/readme.md
  internal/robustio/robustio.go
  internal/robustio/robustio_darwin.go
  internal/robustio/robustio_flaky.go
  internal/robustio/robustio_other.go
  internal/robustio/robustio_windows.go
  pkg/golinters/goanalysis/runner_action.go
Labels: enhancement, area: docs, topic: cleanup

#3215 docs: specify what code checks are related to staticcheck sub-linter
  .golangci.reference.yml
Labels: area: docs

#3220 dev: add riscv64 to the install script
  install.sh
Labels: enhancement, area: install

#3192 feat: add linter dupword
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/dupword.go
  pkg/lint/lintersdb/manager.go
  test/testdata/dupword.go
Labels: enhancement, linter: new

#3233 paralleltest: add tests of the ignore-missing option
  pkg/golinters/paralleltest.go
  test/testdata/configs/paralleltest.yml
  test/testdata/paralleltest_custom.go
Labels: enhancement, area: tests, linter: update

#3234 build(deps): bump github.com/curioswitch/go-reassign v0.1.2 to v0.2.0
  go.mod
  go.sum
  pkg/golinters/reassign.go
  pkg/lint/lintersdb/manager.go
Labels: linter: update
