Repository golangci/golangci-lint, pull requests merged in 2022-08, with the labels that each got.

#3002 nolint: drop allow-leading-space option and add "nolint:all"
  .golangci.yml
  docs/src/docs/usage/false-positives.mdx
  pkg/config/linters_settings.go
  pkg/golinters/godot.go
  pkg/golinters/importas.go
  pkg/golinters/nolintlint.go
  pkg/golinters/nolintlint/README.md
  pkg/golinters/nolintlint/nolintlint.go
  pkg/golinters/nolintlint/nolintlint_test.go
  pkg/golinters/staticcheck_common.go
  pkg/result/processors/base_rule.go
  pkg/result/processors/nolint.go
  pkg/result/processors/testdata/autogen_exclude_doc.go
  pkg/result/processors/testdata/nolint.go
  pkg/result/processors/testdata/nolint_bad_names.go
  pkg/result/processors/testdata/nolint_unused.go
  scripts/expand_website_templates/main.go
  test/testdata/default_exclude.go
  test/testdata/fix/in/nolintlint.go
  test/testdata/gomodguard.go
  test/testdata/nolintlint_unused.go
  tools/tools.go
Labels: enhancement

#3034 ifshort: deprecate linter
  pkg/lint/lintersdb/manager.go
  test/testdata/ifshort.go
Labels: linter: update

#3039 docs(install): remove outdated info on source install
  docs/src/docs/usage/install/index.mdx
Labels: area: docs, topic: cleanup

#3035 build(deps): bump github.com/daixiang0/gci from 0.5.0 to 0.6.0
  .golangci.reference.yml
  go.mod
  go.sum
Labels: linter: update version

#3052 gci: add missing `custom-order` setting
  pkg/config/linters_settings.go
  pkg/golinters/gci.go
Labels: bug, linter: update

#3016 feat: add usestdlibvars
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/usestdlibvars.go
  pkg/lint/lintersdb/manager.go
  test/testdata/usestdlibvars.go
Labels: linter: new

#3050 contextcheck: disable linter
  pkg/lint/lintersdb/manager.go
Labels: bug, linter: update

#3037 go1.19 support
  .github/workflows/post-release.yml
  .github/workflows/pr-extra.yml
  .github/workflows/pr.yml
  .github/workflows/tag.yml
  .golangci.reference.yml
  build/Dockerfile
  build/Dockerfile.alpine
  go.mod
  pkg/golinters/goanalysis/runner_loadingpackage.go
  pkg/golinters/goanalysis/runner_loadingpackage_ti.go
  pkg/golinters/goanalysis/runner_loadingpackage_ti_go117.go
  pkg/golinters/staticcheck_common.go
  pkg/lint/linter/linter.go
  test/linters_test.go
Labels: enhancement

#3055 dev: remove stable from actions/setup-go
  .github/workflows/post-release.yml
  .github/workflows/pr-extra.yml
  .github/workflows/pr.yml
  .github/workflows/tag.yml
Labels: topic: cleanup, area: ci

#3054 build(deps): bump revgrep to HEAD
  go.mod
  go.sum
Labels: dependencies, platform: windows, go

#3059 build(deps): bump github.com/kisielk/errcheck from 1.6.1 to 1.6.2
  go.mod
  go.sum
Labels: dependencies, linter: update version

#3058 build(deps): bump github.com/daixiang0/gci from 0.6.0 to 0.6.2
  go.mod
  go.sum
Labels: dependencies, linter: update version

#3062 docs: Update documentation and assets
  CHANGELOG.md
  README.md
  assets/github-action-config.json
  docs/template_data.state
Labels: area: docs

#3065 nosnakecase: deprecate linter
  pkg/lint/lintersdb/manager.go
  test/testdata/nosnakecase.go
Labels: linter: update

#3067 fix: exit early on run --version
  pkg/commands/root.go
Labels: bug, area: CLI

#3078 docs: fix typo in usestdlibvars documentation
  .golangci.reference.yml
Labels: area: docs

#3072 docs: remove allow-leading-space option
  .golangci.reference.yml
  .golangci.yml
  test/testdata/fix/in/nolintlint.go
  test/testdata/fix/out/nolintlint.go
  test/testdata/nolintlint.go
Labels: area: docs, topic: cleanup

#3099 dev: replace golangcitest:config by golangcitest:config_path
  test/fix_test.go
  test/linters_test.go
  test/testdata/configs/cyclop.yml
  test/testdata/configs/dupl.yml
  test/testdata/configs/errcheck_exclude.yml
  test/testdata/configs/errcheck_ignore_default.yml
  test/testdata/configs/errcheck_type_assertions.yml
  test/testdata/configs/forbidigo_include_godoc_examples.yml
  test/testdata/configs/funlen.yml
  test/testdata/configs/gocognit.yml
  test/testdata/configs/goconst_calls_enabled.yml
  test/testdata/configs/goconst_dont_ignore.yml
  test/testdata/configs/goconst_ignore.yml
  test/testdata/configs/gocyclo.yml
  test/testdata/configs/godox.yml
  test/testdata/configs/gofmt_no_simplify.yml
  test/testdata/configs/gofumpt-fix.yml
  test/testdata/configs/gofumpt_with_extra.yml
  test/testdata/configs/goimports.yml
  test/testdata/configs/govet.yml
  test/testdata/configs/govet_fieldalignment.yml
  test/testdata/configs/govet_ifaceassert.yml
  test/testdata/configs/lll.yml
  test/testdata/configs/makezero_always.yml
  test/testdata/configs/nestif.yml
  test/testdata/configs/nolintlint.yml
  test/testdata/configs/nolintlint_unused.yml
  test/testdata/configs/whitespace-fix.yml
  test/testdata/configs/wsl.yml
  test/testdata/cyclop.go
  test/testdata/dupl.go
  test/testdata/errcheck_exclude.go
  test/testdata/errcheck_ignore_default.go
  test/testdata/errcheck_type_assertions.go
  test/testdata/fix/in/gofumpt.go
  test/testdata/fix/in/whitespace.go
  test/testdata/fix/out/gofumpt.go
  test/testdata/fix/out/whitespace.go
  test/testdata/forbidigo_include_godoc_examples_test.go
  test/testdata/funlen.go
  test/testdata/gocognit.go
  test/testdata/goconst_calls_enabled.go
  test/testdata/goconst_dont_ignore_test.go
  test/testdata/goconst_ignore_test.go
  test/testdata/gocyclo.go
  test/testdata/godox.go
  test/testdata/gofmt_no_simplify.go
  test/testdata/gofumpt_with_extra.go
  test/testdata/goimports/goimports.go
  test/testdata/govet.go
  test/testdata/govet_fieldalignment.go
  test/testdata/govet_ifaceassert.go
  test/testdata/lll.go
  test/testdata/makezero_always.go
  test/testdata/nestif.go
  test/testdata/nolintlint.go
  test/testdata/nolintlint_unused.go
  test/testdata/wsl.go
  test/testshared/testshared.go
Labels: enhancement, area: tests

#3100 dev: rewrite the tests framework
  test/bench/bench_test.go
  test/data.go
  test/enabled_linters_test.go
  test/fix_test.go
  test/linters_test.go
  test/run_test.go
  test/testdata/staticcheck.go
  test/testshared/directives.go
  test/testshared/directives_test.go
  test/testshared/runner.go
  test/testshared/runner_test.go
  test/testshared/testdata/all.go
  test/testshared/testshared.go
Labels: enhancement, area: tests

#3113 docs: wrong URL in .golangci.reference.yml
  .golangci.reference.yml
Labels: area: docs

#3117 docs: add a section about default exclusions
  .golangci.reference.yml
  docs/src/docs/contributing/workflow.mdx
  docs/src/docs/usage/false-positives.mdx
  pkg/config/issues.go
  scripts/expand_website_templates/main.go
Labels: enhancement, area: docs

#3118 dev: fix output tests
  test/output_test.go
Labels: bug, area: tests

#3024 feat: add interfacebloat
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/interfacebloat.go
  pkg/lint/lintersdb/manager.go
  test/testdata/interfacebloat.go
Labels: linter: new

#3106 fix: set an explicit GOROOT in the Docker image for go-critic
  .gitattributes
  .github/workflows/tag.yml
  build/Dockerfile
  build/alpine.Dockerfile
Labels: bug, docker

#3124 dev: improve runner to run dir with go.mod
  test/linters_test.go
  test/testshared/analysis.go
  test/testshared/runner.go
Labels: enhancement, area: tests

#3125 feat: deprecate varcheck, deadcode, and structcheck
  .golangci.yml
  pkg/lint/lintersdb/manager.go
  pkg/result/processors/nolint_test.go
  pkg/result/processors/processor_test.go
  pkg/result/processors/testdata/nolint_bad_names.go
  pkg/result/processors/testdata/nolint_whole_file.go
  test/bench/bench_test.go
  test/run_test.go
  test/testdata/deadcode.go
  test/testdata/deadcode_main_pkg/main_test.go
  test/testdata/gomodguard.go
  test/testdata/nolintlint.go
  test/testdata/varcheck.go
Labels: linter: update

#3093 feat: add logrlint
  .golangci.reference.yml
  Makefile
  go.mod
  go.sum
  pkg/golinters/logrlint.go
  pkg/lint/lintersdb/manager.go
  test/linters_test.go
  test/testdata/logrlint/go.mod
  test/testdata/logrlint/go.sum
  test/testdata/logrlint/logrlint.go
Labels: linter: new

#3128 dev: fix: linter tests
  test/linters_test.go
  test/testshared/runner.go
Labels: bug, area: tests

#3064 feat: add reassign linter
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/reassign.go
  pkg/lint/lintersdb/manager.go
  test/testdata/configs/reassign_patterns.yml
  test/testdata/reassign.go
  test/testdata/reassign_patterns.go
Labels: linter: new

#3102 contextcheck: bump to v1.0.6 && re-enable
  go.mod
  go.sum
  pkg/golinters/contextcheck.go
  pkg/lint/lintersdb/manager.go
Labels: linter: update version

#2387 Normalize exclude-rules paths for Windows
  .golangci.reference.yml
  pkg/result/processors/exclude_rules.go
Labels: enhancement, platform: windows

#3134 dev: fix CI workflow for Windows
  .gitattributes
  .github/workflows/pr.yml
  Makefile
  pkg/result/processors/issues.go
  pkg/result/processors/path_prefixer.go
  pkg/result/processors/path_prefixer_test.go
  pkg/result/processors/path_unix.go
  pkg/result/processors/path_windows.go
  pkg/result/processors/severity_rules.go
  pkg/result/processors/skip_files_test.go
  test/fix_test.go
  test/linters_test.go
  test/output_test.go
  test/run_test.go
  test/testdata/depguard_ignore_file_rules.go
  test/testdata/ifshort.go
  test/testdata/tenv_go118.go
  test/testdata/thelper_go118.go
  test/testshared/analysis.go
  test/testshared/directives.go
  test/testshared/directives_test.go
  test/testshared/runner.go
  test/testshared/runner_test.go
  test/testshared/runner_unix.go
  test/testshared/runner_windows.go
Labels: enhancement, platform: windows, area: ci

#3142 docs: link fixes
  .golangci.reference.yml
  CHANGELOG.md
Labels: area: docs

#3173 fix: remove reference to non-working service
  pkg/commands/root.go
Labels: topic: cleanup, area: CLI
