Repository golangci/golangci-lint, pull requests merged in 2022-02, with the labels that each got.

#2538 Revert "build(deps): bump github.com/sylvia7788/contextcheck from 1.0.4 to 1.0.5"
  go.mod
  go.sum
Labels: bug

#2551 bump varnamelen from v0.5.0 to v0.6.0
  go.mod
  go.sum
  pkg/golinters/varnamelen.go
Labels: linter: update

#2553 dev: upgrade to gatsby 4
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
  netlify.toml
Labels: dependencies, javascript

#2560 docs(decorder): fix `disable-init-func-first-check: false` elaboration
  .golangci.example.yml
Labels: bug, area: docs

#2532 bump github.com/daixiang0/gci from 0.2.9 to 0.3.0
  .golangci.example.yml
  .golangci.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/gci.go
  pkg/golinters/gofmt_common.go
  pkg/golinters/ireturn.go
  pkg/lint/lintersdb/manager.go
  test/linters_test.go
  test/testdata/configs/gci.yml
  test/testdata/gci.go
  test/testdata/gci/gci.go
Labels: linter: update

#2576 bump github.com/mgechev/revive from v1.1.3 to v1.1.4
  .golangci.example.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/revive.go
Labels: linter: update

#2579 docs: Update documentation and assets
  .github/ISSUE_TEMPLATE/config.yml
  .github/dependabot.yml
  .golangci.example.yml
  .goreleaser.yml
  CHANGELOG.md
  README.md
  assets/github-action-config.json
  docs/src/docs/usage/install/index.mdx
  docs/template_data.state
  tools/go.mod
  tools/go.sum
Labels: area: docs

#2587 docs: add link to configuration in the linters list
  scripts/expand_website_templates/main.go
Labels: enhancement, area: docs

#2589 gci: restore defaults for sections
  pkg/config/linters_settings.go
Labels: bug, area: config

#2593 bump github.com/daixiang0/gci to HEAD
  go.mod
  go.sum
  pkg/lint/lintersdb/manager.go
Labels: bug, linter: update

#2599 forbidigo: add example that uses comments
  .golangci.example.yml
Labels: enhancement, area: docs

#2607 errcheck: add an option to remove default exclusions
  .golangci.example.yml
  pkg/config/linters_settings.go
  pkg/golinters/errcheck.go
Labels: enhancement, linter: update

#2611 revive: fix default values
  go.mod
  go.sum
  pkg/golinters/revive.go
Labels: bug, linter: update

#2614 bump github.com/denis-tingaikin/go-header from 0.4.2 to 0.4.3
  go.mod
  go.sum
  pkg/golinters/goheader.go
  pkg/lint/lintersdb/manager.go
  test/testdata/go-header_bad.go
  test/testdata/go-header_good.go
Labels: linter: update

#2617 docs: improve linters page
  .golangci.example.yml
  docs/src/docs/usage/linters.mdx
Labels: enhancement, area: docs

#2618 Default to YAML when config file has no extension
  pkg/config/reader.go
Labels: enhancement, area: config
