Repository golangci/golangci-lint, pull requests merged in 2022-04, with the labels that each got.

#2743 dev: remove some TODO
  .github/workflows/pr.yml
  .golangci.yml
Labels: topic: cleanup

#2746 staticcheck: re-enable for go1.18
  pkg/lint/lintersdb/manager.go
Labels: linter: update version

#2657 feat: enable override coloring based on CLICOLOR and CLICOLOR_FORCE
  pkg/logutils/stderr_log.go
Labels: enhancement, area: CLI

#2744 dev: support build tags about go version in linter tests
  test/fix_test.go
  test/linters_test.go
  test/testdata/tenv_go118.go
Labels: enhancement, area: ci

#2742 bump github.com/kulti/thelper from 0.5.1 to 0.6.2
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/thelper.go
  test/testdata/thelper_go118.go
Labels: linter: update version

#2701 Add nonamedreturns linter
  .golangci.example.yml
  go.mod
  go.sum
  pkg/golinters/godot.go
  pkg/golinters/nonamedreturns.go
  pkg/lint/lintersdb/manager.go
  test/testdata/nonamedreturns.go
Labels: linter: new

#2772 unused: fix false-positive
  pkg/golinters/unused.go
Labels: bug, linter: update

#2749 Add nosprintfhostport linter
  .golangci.example.yml
  go.mod
  go.sum
  pkg/golinters/nosprintfhostport.go
  pkg/lint/lintersdb/manager.go
  test/testdata/nosprintfhostport.go
Labels: linter: new

#2776 nonamedreturns: bump from 1.0.0 to 1.0.1
  go.mod
  go.sum
Labels: linter: update version

#2789 promlinter: bump to v0.2.0
  go.mod
  go.sum
Labels: linter: update version
