Repository golangci/golangci-lint, pull requests merged in 2022-06, with the labels that each got.

#2902 dev: preallocate some slices and maps
  pkg/config/linters_settings_gocritic.go
Labels: topic: cosmetic

#2894 docs: have a clear explanation about the staticcheck integration.
  pkg/golinters/staticcheck.go
Labels: enhancement, area: docs

#2893 docs: add thanks page
  docs/src/config/sidebar.yml
  docs/src/docs/product/roadmap.mdx
  docs/src/docs/product/thanks.mdx
  scripts/expand_website_templates/main.go
Labels: enhancement, area: docs

#2909 docs(gomnd): fix typo
  .golangci.reference.yml
Labels: area: docs, area: config

#2880 gosec: allow `global` config
  .golangci.reference.yml
  pkg/golinters/gosec.go
Labels: enhancement, area: config, linter: update

#2913 config: spread go version on linter's configurations
  .golangci.reference.yml
  .golangci.yml
  pkg/config/linters_settings.go
  pkg/golinters/staticcheck.go
  pkg/golinters/staticcheck_common.go
  pkg/lint/lintersdb/manager.go
Labels: enhancement, area: config

#2921 depguard: adjust phrasing
  .golangci.yml
  pkg/golinters/depguard.go
  test/testdata/depguard.go
  test/testdata/depguard_additional_guards.go
Labels: enhancement, topic: cosmetic

#2828 add nosnakecase lint
  go.mod
  go.sum
  pkg/golinters/nosnakecase.go
  pkg/lint/lintersdb/manager.go
  test/run_test.go
  test/testdata/nosnakecase.go
Labels: enhancement, linter: new
