Repository golangci/golangci-lint, pull requests merged in 2023-07, with the labels that each got.

#3930 dev: improve bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: enhancement, area: docs

#3945 docs: add linters description
  scripts/expand_website_templates/main.go
Labels: enhancement, area: docs

#3959 build(deps): bump gitlab.com/bosi/decorder from 0.2.3 to 0.4.0
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/decorder.go
Labels: dependencies, linter: update version, go

#3963 build(deps): bump github.com/GaijinEntertainment/go-exhaustruct/v3 from 2.3.0 to 3.1.0
  go.mod
  go.sum
  pkg/golinters/exhaustruct.go
  test/testdata/exhaustruct.go
  test/testdata/exhaustruct_custom.go
Labels: dependencies, linter: update version, go, breaking

#3972 build(deps): bump github.com/nunnatsa/ginkgolinter from 0.13.0 to 0.13.3
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/ginkgolinter.go
  test/testdata/ginkgolinter/configs/ginkgolinter_suppress_focused_containers.yml
  test/testdata/ginkgolinter/ginkgolinter.go
  test/testdata/ginkgolinter/ginkgolinter_havelen0.go
  test/testdata/ginkgolinter/ginkgolinter_suppress_async.go
  test/testdata/ginkgolinter/ginkgolinter_suppress_compare.go
  test/testdata/ginkgolinter/ginkgolinter_suppress_err.go
  test/testdata/ginkgolinter/ginkgolinter_suppress_focused_containers.go
  test/testdata/ginkgolinter/ginkgolinter_suppress_len.go
  test/testdata/ginkgolinter/ginkgolinter_suppress_nil.go
Labels: dependencies, linter: update version, go

#3980 build(deps): bump github.com/4meepo/tagalign from 1.3.1 to 1.3.2
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/golinters/tagalign.go
  test/testdata/configs/tagalign_strict.yml
  test/testdata/tagalign_strict.go
Labels: dependencies, linter: update version, go
