Repository golangci/golangci-lint, pull requests merged in 2023-10, with the labels that each got.

#4114 dev: enable gocheckcompilerdirectives linter
  .golangci.yml
  test/ruleguard/dup.go
  test/ruleguard/rangeExprCopy.go
  test/ruleguard/strings_simplify.go
Labels: topic: cleanup

#4116 docs: fix typos in testdata
  test/testdata/forbidigo_example.go
  test/testdata/gochecknoglobals.go
  test/testdata/nonamedreturns_custom.go
Labels: area: docs, topic: cleanup

#4105 docs: add source options to exclude-rules docs
  docs/src/docs/usage/false-positives.mdx
Labels: enhancement, area: docs

#4115 feat: update gofmt and goimports
  go.mod
  go.sum
Labels: dependencies, linter: update version, go

#4103 Add `testifylint` linter
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/testifylint.go
  pkg/lint/lintersdb/manager.go
  test/testdata/testifylint.go
Labels: linter: new

#3671 feat: add `gochecksumtype` linter
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/golinters/gochecksumtype.go
  pkg/lint/lintersdb/manager.go
  test/testdata/gochecksumtype.go
Labels: enhancement, linter: new

#4086 unused: support passing in options
  .golangci.reference.yml
  pkg/config/linters_settings.go
  pkg/golinters/unused.go
  pkg/lint/lintersdb/manager.go
Labels: enhancement, linter: update

#4127 govet: add `appends` analyzer
  .golangci.reference.yml
  pkg/golinters/govet.go
Labels: enhancement, linter: update

#3793 Add "inamedparam": checks for interface method with unnamed params
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/golinters/inamedparam.go
  pkg/lint/lintersdb/manager.go
  test/testdata/inamedparam.go
Labels: linter: new

#4135 docs: uppercase command option descriptions for consistency
  pkg/commands/root.go
Labels: area: docs, topic: cosmetic

#4133 feat: add `sloglint` linter
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/sloglint.go
  pkg/lint/lintersdb/manager.go
  test/testdata/configs/sloglint_args_on_sep_lines.yml
  test/testdata/configs/sloglint_attr_only.yml
  test/testdata/configs/sloglint_kv_only.yml
  test/testdata/configs/sloglint_no_raw_keys.yml
  test/testdata/sloglint.go
  test/testdata/sloglint_args_on_sep_lines.go
  test/testdata/sloglint_attr_only.go
  test/testdata/sloglint_kv_only.go
  test/testdata/sloglint_no_raw_keys.go
Labels: linter: new

#4141 fix: update gofmt
  go.mod
  go.sum
Labels: dependencies, linter: update version, go

#4144 build(deps): bump github.com/uudashr/gocognit from 1.1.1 to 1.1.0
  go.mod
  go.sum
Labels: dependencies, linter: update version, go

#4146 docs: describe enabled and disabled by default analyzers of govet
  .golangci.reference.yml
Labels: enhancement, area: docs

#3714 Add perfsprint linter
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/golinters/perfsprint.go
  pkg/lint/lintersdb/manager.go
  test/testdata/perfsprint.go
Labels: linter: new

#4149 output: convert backslashes to forward slashes for GitHub Action annotations printer
  pkg/printers/github.go
  pkg/printers/github_test.go
Labels: bug, platform: windows, area: output
