Repository golangci/golangci-lint, pull requests merged in 2023-04, with the labels that each got.

#3622 dev: enable revive linter with default config
  .golangci.yml
Labels: enhancement

#3729 output: add colored-tab
  .golangci.reference.yml
  .golangci.yml
  pkg/commands/run.go
  pkg/config/output.go
  pkg/golinters/nolintlint/nolintlint_test.go
  pkg/lint/lintersdb/enabled_set_test.go
  pkg/printers/tab.go
  pkg/printers/tab_test.go
  pkg/printers/text.go
  pkg/printers/text_test.go
  test/enabled_linters_test.go
  test/testshared/analysis_test.go
  test/testshared/runner_test.go
Labels: enhancement, area: output

#3753 importas: detect duplicate alias or package in the configuration
  pkg/golinters/importas.go
Labels: enhancement, linter: update

#3762 importas: fix typo in logs
  pkg/golinters/importas.go
Labels: bug, linter: update

#3760 build(deps): bump github.com/alexkohler/nakedret to 2.0.1
  go.mod
  go.sum
  pkg/golinters/nakedret.go
  test/testdata/nakedret.go
Labels: enhancement, linter: update

#3781 docs: improve features section
  docs/src/docs/index.mdx
Labels: area: docs, topic: cosmetic

#3780 dev: add gofmt rewrite rule to ensure 'any' is always used
  .golangci.yml
  internal/errorutil/errors.go
  internal/pkgcache/pkgcache.go
Labels: topic: cleanup

#3726 add linter zerologlint
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/golinters/zerologlint.go
  pkg/lint/lintersdb/manager.go
  test/linters_test.go
  test/testdata/zerologlint/go.mod
  test/testdata/zerologlint/go.sum
  test/testdata/zerologlint/zerologlint.go
Labels: linter: new

#3761 dev: remove unused ctx parameter from Printer
  .golangci.yml
  pkg/commands/run.go
  pkg/golinters/gocritic_test.go
  pkg/logutils/logutils.go
  pkg/printers/checkstyle.go
  pkg/printers/checkstyle_test.go
  pkg/printers/codeclimate.go
  pkg/printers/codeclimate_test.go
  pkg/printers/github.go
  pkg/printers/github_test.go
  pkg/printers/html.go
  pkg/printers/html_test.go
  pkg/printers/json.go
  pkg/printers/json_test.go
  pkg/printers/junitxml.go
  pkg/printers/junitxml_test.go
  pkg/printers/printer.go
  pkg/printers/tab.go
  pkg/printers/tab_test.go
  pkg/printers/teamcity.go
  pkg/printers/teamcity_test.go
  pkg/printers/text.go
  pkg/printers/text_test.go
Labels: topic: cleanup

#3791 build(deps): bump go.tmz.dev/musttag from 0.5.0 to 0.6.0
  CHANGELOG.md
  README.md
  go.mod
  go.sum
  pkg/golinters/musttag.go
  pkg/lint/lintersdb/manager.go
Labels: dependencies, linter: update version, go

#3779 gosec: convert global settings as map with proper key type
  pkg/golinters/gosec.go
  pkg/golinters/gosec_test.go
  test/testdata/configs/gosec_global_option.yml
  test/testdata/gosec_global_option.go
Labels: bug, linter: update

#3777 gci: improve error message
  pkg/golinters/gci.go
  test/testdata/configs/gci.yml
  test/testdata/fix/in/gci.go
  test/testdata/fix/out/gci.go
  test/testdata/gci.go
Labels: enhancement, linter: update

#3792 bodyclose: bump to HEAD
  go.mod
  go.sum
Labels: dependencies, linter: update version, go

#3797 usestdlibvars: fix configuration
  pkg/config/linters_settings.go
  pkg/lint/lintersdb/manager.go
  test/testdata/configs/usestdlibvars_non_default.yml
  test/testdata/usestdlibvars_non_default.go
Labels: bug, linter: update

#3795 depguard: migrate to v2
  .golangci.reference.yml
  .golangci.yml
  go.mod
  go.sum
  pkg/commands/run.go
  pkg/config/linters_settings.go
  pkg/golinters/depguard.go
  test/testdata/configs/depguard.yml
  test/testdata/configs/depguard_additional_guards.yml
  test/testdata/configs/depguard_ignore_file_rules.yml
  test/testdata/depguard.go
  test/testdata/depguard_additional_guards.go
  test/testdata/depguard_ignore_file_rules.go
Labels: linter: update version, linter: update, breaking

#3799 docs: Fix minor typo in new-linters.mdx
  docs/src/docs/contributing/new-linters.mdx
Labels: area: docs

#3800 `ireturn`: update tests & docs
  .golangci.reference.yml
  test/testdata/configs/ireturn_reject_generics.yml
  test/testdata/configs/ireturn_reject_stdlib.yml
  test/testdata/ireturn_reject_generics.go
  test/testdata/ireturn_reject_stdlib.go
Labels: area: docs, linter: update

#3805 docs: clarify mnd ignore usage examples to be regexps
  .golangci.reference.yml
Labels: enhancement, area: docs
