Repository golangci/golangci-lint, pull requests merged in 2023-11, with the labels that each got.

#4166 build(deps): bump go-simpler.org/sloglint from 0.1.2 to 0.2.0
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/sloglint.go
  test/testdata/configs/sloglint_context_only.yml
  test/testdata/configs/sloglint_key_naming_case.yml
  test/testdata/sloglint_context_only.go
  test/testdata/sloglint_key_naming_case.go
Labels: dependencies, linter: update version, go

#4167 build(deps): bump github.com/ghostiam/protogetter from 0.2.3 to 0.3.1
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/protogetter.go
  pkg/lint/lintersdb/manager.go
Labels: dependencies, linter: update version, go

#4003 whitespace: update after moving to the `analysis` package
  go.mod
  go.sum
  pkg/golinters/revive.go
  pkg/golinters/whitespace.go
  test/testdata/fix/in/whitespace.go
  test/testdata/fix/out/whitespace.go
Labels: enhancement, linter: update

#4186 build(deps): bump github.com/Antonboom/testifylint from 0.2.3 to 1.0.1
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/testifylint.go
  test/testdata/configs/testifylint.yml
  test/testdata/testifylint.go
  test/testdata/testifylint_config.go
Labels: dependencies, linter: update version, go

#4201 build(deps): bump go-simpler.org/musttag from v0.7.2 to v0.8.0
  go.mod
  go.sum
  pkg/golinters/musttag.go
  pkg/lint/lintersdb/manager.go
  test/testdata/musttag.go
  test/testdata/musttag_custom.go
Labels: dependencies, linter: update version, go

#4214 dev: use analyzer fields for name, doc instead of hardcoded strings
  pkg/golinters/asciicheck.go
  pkg/golinters/bidichk.go
  pkg/golinters/cyclop.go
  pkg/golinters/errchkjson.go
  pkg/golinters/errname.go
  pkg/golinters/goprintffuncname.go
  pkg/golinters/grouper.go
  pkg/golinters/ifshort.go
  pkg/golinters/ineffassign.go
  pkg/golinters/nakedret.go
  pkg/golinters/noctx.go
  pkg/golinters/paralleltest.go
  pkg/golinters/rowserrcheck.go
  pkg/golinters/sqlclosecheck.go
  pkg/golinters/thelper.go
  pkg/golinters/tparallel.go
  pkg/golinters/wastedassign.go
  pkg/golinters/wrapcheck.go
Labels: topic: cosmetic

#4221 dev: replace tab by space inside CLI help
  pkg/commands/run.go
Labels: area: docs, topic: cosmetic

#4225 dev: use zerologlint analyzer fields for name and doc
  pkg/golinters/zerologlint.go
Labels: enhancement, topic: cosmetic
