Repository golangci/golangci-lint, pull requests merged in 2023-01, with the labels that each got.

#3452 unparam: bump to HEAD
  go.mod
  go.sum
Labels: dependencies, linter: update version, go

#3468 docs: add note about binary requirement for plugin
  docs/src/docs/contributing/new-linters.mdx
Labels: enhancement, area: docs

#3459 ci: support building loong64 release binaries
  .goreleaser.yml
  tools/go.mod
  tools/go.sum
Labels: enhancement, area: ci

#3386 feat: add musttag linter
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/config/linters_settings.go
  pkg/golinters/musttag.go
  pkg/lint/lintersdb/manager.go
  test/testdata/configs/musttag.yml
  test/testdata/musttag.go
  test/testdata/musttag_custom.go
Labels: linter: new

#3463 feat: add gocheckcompilerdirectives
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/golinters/gocheckcompilerdirectives.go
  pkg/lint/lintersdb/manager.go
  test/testdata/gocheckcompilerdirectives.go
Labels: linter: new

#3321 chore: Do not use methods on pointer and value receivers
  pkg/printers/tab.go
  pkg/printers/text.go
  pkg/result/processors/autogenerated_exclude.go
  pkg/result/processors/filename_unadjuster.go
  pkg/result/processors/max_from_linter.go
  pkg/result/processors/max_per_file_from_linter.go
  pkg/result/processors/max_same_issues.go
  pkg/result/processors/nolint.go
  pkg/result/processors/uniq_by_line.go
Labels: topic: cleanup

#3510 chore: fix install.sh to point at releases API
  install.sh
Labels: bug, area: install

#3513 chore: fix latest install to cater for existing users who installed using '-s latest'
  install.sh
Labels: bug, area: install

#3514 chore: fix install script (revert)
  install.sh
Labels: bug, area: install

#3516 docs: update output example to use valid checkstyle example; add json example
  .golangci.reference.yml
Labels: area: docs
