Repository golangci/golangci-lint, pull requests merged in 2023-06, with the labels that each got.

#3825 mirror: linter that suggest using alternative string/[]byte functions
  .golangci.reference.yml
  go.mod
  go.sum
  pkg/golinters/mirror.go
  pkg/lint/lintersdb/manager.go
  test/testdata/mirror.go
Labels: linter: new

#3866 depguard: fix GOROOT detection
  go.mod
  go.sum
  pkg/golinters/depguard.go
Labels: bug, linter: update version

#3869 importas: fix duplication detection when aliases use regular expression replacement pattern
  pkg/golinters/importas.go
Labels: bug, linter: update

#3879 docs: fix default depguard rule
  .golangci.reference.yml
Labels: enhancement, area: docs

#3880 depguard: throw error only when the linter is called
  go.mod
  go.sum
  pkg/golinters/depguard.go
Labels: bug, linter: update

#3883 build(deps): bump github.com/OpenPeeDeeP/depguard/v2 from v2.0.1 to 2.1.0
  go.mod
  go.sum
  pkg/golinters/depguard.go
Labels: bug, dependencies, linter: update version, go

#3882 codeclimate: less memory allocation
  pkg/printers/codeclimate.go
  pkg/printers/codeclimate_test.go
Labels: enhancement, area: output

#3885 dev: tidy go deps
  go.mod
Labels: enhancement, topic: cosmetic

#3884 dev: use to GitHub Pages
  .github/workflows/documentation.yml
Labels: enhancement, area: docs

#3892 build(deps): bump github.com/nunnatsa/ginkgolinter from 0.12.2 to 0.12.1
  go.mod
  go.sum
Labels: dependencies, linter: update version, go

#3898 ineffassign: bump to HEAD
  go.mod
  go.sum
Labels: dependencies, linter: update version, go

#3901 dev: simplify GetAllSupportedLinterConfigs method
  pkg/lint/linter/config.go
  pkg/lint/lintersdb/manager.go
Labels: topic: cleanup

#3907 Add support for generating illumos/amd64 targeted builds
  .goreleaser.yml
  install.sh
Labels: enhancement, area: install

#3887 plugin: allow to use settings for plugins
  docs/src/docs/contributing/new-linters.mdx
  pkg/config/linters_settings.go
  pkg/lint/lintersdb/custom_linters.go
  pkg/lint/lintersdb/manager.go
Labels: enhancement, linter: custom

#3911 fix: include custom linters in `enable-all`
  docs/src/docs/contributing/new-linters.mdx
  pkg/commands/executor.go
  pkg/lint/lintersdb/custom_linters.go
  pkg/lint/lintersdb/manager.go
Labels: bug, linter: custom

#3917 gofmt: autofix missing newline at EOF
  pkg/golinters/gofmt_common.go
  test/testdata/fix/in/gofmt.go
Labels: bug, area: auto-fix

#3918 build(deps): bump github.com/golangci/misspell 0.4.0 to 0.4.1
  go.mod
  go.sum
  pkg/config/linters_settings.go
  test/testdata/configs/misspell.yml
  test/testdata/misspell.go
Labels: dependencies, linter: update version, go

#3929 feat: explain typecheck and remove it from the linter list
  docs/src/docs/usage/faq.mdx
  pkg/commands/help.go
  pkg/commands/linters.go
  pkg/lint/linter/config.go
  pkg/lint/lintersdb/enabled_set.go
  pkg/lint/lintersdb/enabled_set_test.go
  pkg/lint/lintersdb/manager.go
  pkg/result/processors/nolint_test.go
  scripts/expand_website_templates/main.go
  test/enabled_linters_test.go
  test/run_test.go
  test/testdata/linedirective/gomodguard.yml
  test/testdata/linedirective/hello.go
Labels: enhancement
