Repository golangci/golangci-lint, pull requests merged in 2024-05, with the labels that each got.

#4689 unparam: bump to HEAD
  go.mod
  go.sum
Labels: dependencies, linter: update version, go

#4685 feat: use problem matchers for GitHub Action format
  pkg/printers/github.go
  pkg/printers/github_test.go
  pkg/printers/printer_test.go
  pkg/printers/testdata/golden-github-actions.txt
  pkg/printers/testdata/golden-teamcity.txt
Labels: enhancement, area: output

#4693 docs: update GitHub Action assets
  assets/github-action-config.json
Labels: github_actions

#4692 docs: update documentation assets
  .github/workflows/post-release.yml
  .golangci.reference.yml
  .golangci.yml
  CHANGELOG.md
  assets/cli-help.json
  assets/default-exclusions.json
  assets/linters-info.json
  docs/src/docs/welcome/install.mdx
  jsonschema/golangci.jsonschema.json
  pkg/commands/flagsets.go
Labels: area: docs, area: JSON schema

#4694 docs: update documentation
  README.md
Labels: area: docs

#4698 fix: gochecknoinits shadow name
  pkg/golinters/dogsled/dogsled.go
  pkg/golinters/dupl/dupl.go
  pkg/golinters/errcheck/errcheck.go
  pkg/golinters/forbidigo/forbidigo.go
  pkg/golinters/funlen/funlen.go
  pkg/golinters/gci/gci.go
  pkg/golinters/gochecknoinits/gochecknoinits.go
  pkg/golinters/gochecksumtype/gochecksumtype.go
  pkg/golinters/gocognit/gocognit.go
  pkg/golinters/goconst/goconst.go
  pkg/golinters/gocritic/gocritic.go
  pkg/golinters/gocyclo/gocyclo.go
  pkg/golinters/godot/godot.go
  pkg/golinters/godox/godox.go
  pkg/golinters/gofmt/gofmt.go
  pkg/golinters/gofumpt/gofumpt.go
  pkg/golinters/goheader/goheader.go
  pkg/golinters/goimports/goimports.go
  pkg/golinters/gomoddirectives/gomoddirectives.go
  pkg/golinters/gosec/gosec.go
  pkg/golinters/lll/lll.go
  pkg/golinters/makezero/makezero.go
  pkg/golinters/misspell/misspell.go
  pkg/golinters/nestif/nestif.go
  pkg/golinters/nolintlint/nolintlint.go
  pkg/golinters/prealloc/prealloc.go
  pkg/golinters/promlinter/promlinter.go
  pkg/golinters/revive/revive.go
  pkg/golinters/unconvert/unconvert.go
  pkg/golinters/unparam/unparam.go
  pkg/golinters/unused/unused.go
  pkg/golinters/whitespace/whitespace.go
  pkg/result/processors/nolint.go
  pkg/result/processors/nolint_test.go
Labels: bug, linter: update

#4700 fix: remove GitHub Action problem matchers
  .golangci.next.reference.yml
  .golangci.reference.yml
  pkg/printers/github.go
  pkg/printers/github_test.go
  pkg/printers/githubaction.go
  pkg/printers/githubaction_test.go
  pkg/printers/printer.go
Labels: bug, github_actions

#4708 docs: update GitHub Action assets
  CHANGELOG.md
  assets/github-action-config.json
Labels: area: docs, github_actions

#4709 dev: deprecate errcheck.ignore option
  .golangci.yml
  pkg/config/linters_settings.go
  pkg/config/loader.go
Labels: area: config, topic: cleanup

#4711 docs: update documentation
  README.md
Labels: area: docs

#4712 dev: set CGO_ENABLED=1 when running "test" task
  Makefile
Labels: area: tests

#4716 build(deps): bump github.com/Antonboom/nilnil from 0.1.8 to 0.1.9
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/golinters/nilnil/testdata/nilnil.go
Labels: dependencies, linter: update version, go

#4719 docs: improve integrations and install pages
  docs/src/docs/welcome/annotations.png
  docs/src/docs/welcome/colored-line-number.png
  docs/src/docs/welcome/install.mdx
  docs/src/docs/welcome/integrations.mdx
Labels: enhancement, area: docs

#4731 docs: update GitHub Action assets
  .goreleaser.yml
  CHANGELOG.md
  assets/github-action-config.json
Labels: area: docs, github_actions

#4729 build(deps): bump github.com/Antonboom/testifylint from 1.2.0 to 1.3.0
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/goanalysis/linter.go
  pkg/golinters/testifylint/testifylint.go
Labels: dependencies, linter: update version, go

#4723 Support Sarif output
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/config/output.go
  pkg/printers/printer.go
  pkg/printers/sarif.go
  pkg/printers/sarif_test.go
Labels: enhancement, area: output

#4726 feat: deprecate github-actions format
  pkg/config/loader.go
  pkg/config/output.go
  pkg/printers/githubaction.go
Labels: enhancement, area: output

#4732 docs: update documentation
  README.md
Labels: area: docs

#4739 chore: improve grammar in the security policy
  SECURITY.md
Labels: area: docs, topic: cosmetic

#4737 chore: add html to the JSONSchema
  .golangci.next.reference.yml
  .golangci.reference.yml
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
Labels: enhancement, area: docs, area: JSON schema

#4742 feat: add warning about disabled and deprecated linters (level 2)
  docs/src/docs/product/roadmap.mdx
  pkg/lint/lintersdb/validator.go
  test/run_test.go
Labels: enhancement, area: config

#4740 feat: allow the analysis of generated files
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/commands/flagsets.go
  pkg/config/issues.go
  pkg/config/loader.go
  pkg/lint/runner.go
  pkg/result/processors/autogenerated_exclude.go
  pkg/result/processors/autogenerated_exclude_test.go
Labels: enhancement, area: processors

#4747 dev: improve issue chooser
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: topic: cosmetic

#4748 build(deps): bump github.com/securego/gosec/v2 from 2.20.0 to 5f0084eb01a9
  go.mod
  go.sum
  pkg/config/loader.go
Labels: dependencies, linter: update version, go

#4750 docs: update GitHub Action assets
  assets/github-action-config.json
Labels: github_actions

#4756 docs: update documentation
  README.md
Labels: area: docs

#4757 dev: fix double call to startTracing
  pkg/commands/run.go
Labels: bug, area: CLI

#4758 fix: init empty result slice for SARIF printer
  pkg/printers/sarif.go
  pkg/printers/sarif_test.go
Labels: bug, area: output

#4763 docs: fix typos
  docs/src/docs/contributing/website.mdx
  docs/src/docs/contributing/workflow.mdx
  docs/src/docs/plugins/go-plugins.mdx
  docs/src/docs/welcome/install.mdx
  docs/src/docs/welcome/integrations.mdx
  pkg/commands/run.go
  pkg/config/config.go
  pkg/golinters/gci/gci.go
  pkg/golinters/nolintlint/internal/README.md
  pkg/printers/githubaction.go
  scripts/gen_github_action_config/main.go
  scripts/website/expand_templates/main.go
  test/configuration_file_test.go
Labels: area: docs, topic: cosmetic

#4766 docs: fix broken link
  docs/src/docs/contributing/workflow.mdx
Labels: bug, area: docs

#4761 dev: add targets to benchmark a linter
  Makefile
  scripts/bench/bench_local.sh
  scripts/bench/bench_version.sh
  scripts/bench/readme.md
Labels: enhancement, area: benchmark

#4768 fix: gomnd deprecated configuration compatibility
  pkg/golinters/mnd/mnd.go
Labels: bug, linter: update

#4771 dev: display version in verbose mode
  pkg/commands/run.go
  pkg/commands/version.go
Labels: enhancement, topic: cosmetic

#4775 fix: SARIF format require issue column >= 1
  pkg/printers/sarif.go
  pkg/printers/sarif_test.go
Labels: bug, area: output

#4778 dev: remove unused field from PathPrettifier
  pkg/result/processors/path_prettifier.go
Labels: topic: cleanup
