Repository golangci/golangci-lint, pull requests merged in 2024-10, with the labels that each got.

#5050 docs: improve 'install from sources' section
  docs/src/docs/welcome/install.mdx
Labels: enhancement, area: docs

#5053 fix: type sizing when cross-compiling (32-bit)
  pkg/goanalysis/runner_loadingpackage.go
Labels: bug

#5054 build(deps): bump github.com/Antonboom/testifylint from 1.4.3 to 1.5.0
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/printers/printer_test.go
Labels: dependencies, linter: update version, go

#5058 build(deps): bump github.com/Antonboom/nilnil from 0.1.9 to 1.0.0
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/nilnil/nilnil.go
  pkg/golinters/nilnil/testdata/nilnil.go
  pkg/golinters/nilnil/testdata/nilnil_detect_opposite.go
  pkg/golinters/nilnil/testdata/nilnil_detect_opposite.yml
  pkg/golinters/nilnil/testdata/nilnil_pointers_only.go
  pkg/golinters/nilnil/testdata/nilnil_pointers_only.yml
Labels: dependencies, linter: update version, go

#5066 docs: improve new linter section
  .github/new-linter-checklist.md
  docs/src/docs/contributing/new-linters.mdx
Labels: enhancement, area: docs

#5079 build(deps): bump github.com/golangci/go-printf-func-name from 7558a9eaa5af to v0.1.0
  go.mod
  go.sum
  pkg/golinters/goprintffuncname/goprintffuncname.go
  pkg/lint/lintersdb/builder_linter.go
Labels: dependencies, linter: update version, go

#5083 docs: update demo animation
  Makefile
  docs/golangci-lint.tape
  docs/src/docs/index.mdx
  docs/static/demo.gif
  docs/static/demo.svg
  tools/package-lock.json
  tools/package.json
Labels: enhancement, area: docs

#5081 Add filen linter
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/filen/filen.go
  pkg/golinters/filen/filen_integration_test.go
  pkg/golinters/filen/testdata/filen.go
  pkg/golinters/filen/testdata/filen_ignore_comments.go
  pkg/golinters/filen/testdata/filen_ignore_comments.yml
  pkg/golinters/filen/testdata/filen_max_lines.go
  pkg/golinters/filen/testdata/filen_max_lines.yml
  pkg/golinters/filen/testdata/filen_min_lines.go
  pkg/golinters/filen/testdata/filen_min_lines.yml
  pkg/lint/lintersdb/builder_linter.go
Labels: enhancement, linter: new

#5085 dev: remove unused function SetAnalyzerGoVersion
  pkg/golinters/internal/staticcheck_common.go
  pkg/logutils/logutils.go
Labels: topic: cleanup

#5086 code-climate: add check_name field
  pkg/printers/codeclimate.go
  pkg/printers/codeclimate_test.go
Labels: enhancement, area: output

#5087 Revert "Add filen linter (#5081)"
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/filen/filen.go
  pkg/golinters/filen/filen_integration_test.go
  pkg/golinters/filen/testdata/filen.go
  pkg/golinters/filen/testdata/filen_ignore_comments.go
  pkg/golinters/filen/testdata/filen_ignore_comments.yml
  pkg/golinters/filen/testdata/filen_max_lines.go
  pkg/golinters/filen/testdata/filen_max_lines.yml
  pkg/golinters/filen/testdata/filen_min_lines.go
  pkg/golinters/filen/testdata/filen_min_lines.yml
  pkg/lint/lintersdb/builder_linter.go
Labels: enhancement, linter: update
