Repository golangci/golangci-lint, pull requests merged in 2024-09, with the labels that each got.

#4973 nolintlint: remove empty line in unused directive replacement
  pkg/golinters/nolintlint/internal/nolintlint.go
  pkg/golinters/nolintlint/internal/nolintlint_test.go
Labels: bug, linter: update, area: auto-fix

#4918 feat: add junit-xml-extended format
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/config/output.go
  pkg/printers/junitxml.go
  pkg/printers/junitxml_test.go
  pkg/printers/printer.go
Labels: enhancement, area: output

#4967 feat: exclude Swagger Codegen files
  pkg/result/processors/autogenerated_exclude.go
  pkg/result/processors/autogenerated_exclude_test.go
Labels: enhancement, area: processors

#4983 gosec: disable G407
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/golinters/gosec/gosec.go
Labels: bug, linter: update

#4985 docs: add additionnal info about typecheck
  docs/src/docs/welcome/faq.mdx
Labels: enhancement, area: docs

#4999 docs: update GitHub Action assets
  assets/github-action-config.json
Labels: github_actions

#4998 docs: update documentation assets
  .golangci.reference.yml
  CHANGELOG.md
  assets/cli-help.json
  assets/linters-info.json
  jsonschema/golangci.jsonschema.json
Labels: area: docs

#5000 docs: update documentation
  README.md
Labels: area: docs

#5011 dev: use slices package from stdlib
  pkg/golinters/gocritic/gocritic.go
  pkg/golinters/gocritic/gocritic_test.go
Labels: topic: cleanup

#5014 Add recvcheck linter
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/golinters/recvcheck/recvcheck.go
  pkg/golinters/recvcheck/recvcheck_integration_test.go
  pkg/golinters/recvcheck/testdata/recvcheck.go
  pkg/lint/lintersdb/builder_linter.go
Labels: enhancement, linter: new

#5016 docs: fix broken link
  assets/linters-info.json
  pkg/lint/lintersdb/builder_linter.go
Labels: area: docs

#5022 docs: consistent WithSince versions
  pkg/lint/lintersdb/builder_linter.go
Labels: area: docs, topic: cosmetic

#5036 docs: improve linter/rule/check docs
  .golangci.next.reference.yml
  .golangci.reference.yml
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
Labels: enhancement, area: docs

#5046 docs: improve FAQ about Go versions
  docs/src/docs/welcome/faq.mdx
Labels: enhancement, area: docs

#5045 docs: adds a section about `exclude-dirs-use-default`
  docs/src/docs/usage/false-positives.mdx
Labels: enhancement, area: docs

#5047 dev: remove Nancy
  .github/workflows/pr-extra.yml
  .nancy-ignore
Labels: enhancement, area: ci

#5048 docs: reorganize configuration files
  .golangci.next.reference.yml
  .golangci.reference.yml
  .golangci.yml
Labels: enhancement, area: docs
