Repository golangci/golangci-lint, pull requests merged in 2024-06, with the labels that each got.

#4790 docs: update revive configuration
  .golangci.next.reference.yml
  .golangci.reference.yml
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
Labels: enhancement, area: docs, topic: cleanup

#4797 intrange: add style preset
  pkg/lint/lintersdb/builder_linter.go
Labels: linter: update

#4805 docs: update GitHub Action assets
  assets/github-action-config.json
Labels: github_actions

#4806 docs: update documentation assets
  CHANGELOG.md
  assets/linters-info.json
Labels: area: docs

#4781 lll: Advertise max line length instead of just reporting failure
  pkg/golinters/lll/lll.go
  test/run_test.go
Labels: enhancement, linter: update

#4798 build(deps): bump github.com/Antonboom/testifylint from 1.3.1 to 1.4.1
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/testifylint/testdata/testifylint.go
  pkg/golinters/testifylint/testdata/testifylint_formatter_only.go
  pkg/golinters/testifylint/testdata/testifylint_formatter_only.yml
  pkg/golinters/testifylint/testifylint.go
Labels: dependencies, linter: update version, go

#4815 docs: move whole-files near of new-from-xxx
  .golangci.next.reference.yml
  .golangci.reference.yml
Labels: enhancement, area: docs, topic: cosmetic

#4814 dev: fix installation script for curl v8.8.0
  .github/workflows/post-release.yml
  .github/workflows/pr.yml
  install.sh
Labels: bug, area: install

#4817 dev: improve revive construction
  pkg/golinters/revive/revive.go
Labels: topic: cleanup, linter: update

#4831 fix: sanitize level property for SARIF
  pkg/printers/sarif.go
  pkg/printers/sarif_test.go
Labels: bug, area: output

#4826 dev: improve benchmark scripts
  scripts/bench/bench_local.sh
  scripts/bench/bench_version.sh
Labels: enhancement, area: benchmark

#4838 docs: add repology package summary
  docs/src/docs/welcome/install.mdx
Labels: enhancement, area: docs

#4846 docs: update wsl documentation
  .golangci.next.reference.yml
  .golangci.reference.yml
Labels: enhancement, area: docs

#4847 dev: clean gen_github_action_config
  scripts/gen_github_action_config/go.mod
  scripts/gen_github_action_config/go.sum
  scripts/gen_github_action_config/main.go
Labels: topic: cosmetic, github_actions

#4848 dev: rewrite benchmarks
  test/bench/bench_test.go
Labels: topic: cleanup, area: benchmark
