Repository golangci/golangci-lint, pull requests merged in 2025-09, with the labels that each got.

#6061 fix: no export data must always be handled as a typecheck error
  pkg/goanalysis/pkgerrors/extract.go
  pkg/goanalysis/pkgerrors/extract_test.go
  pkg/goanalysis/runner_loadingpackage.go
Labels: bug, area: core

#6062 feat: add godoclint linter
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/godoclint/godoclint.go
  pkg/golinters/godoclint/godoclint_integration_test.go
  pkg/golinters/godoclint/testdata/godoclint.yml
  pkg/golinters/godoclint/testdata/godoclint_default_fail.go
  pkg/golinters/godoclint/testdata/godoclint_default_pass.go
  pkg/golinters/godoclint/testdata/godoclint_full_fail.go
  pkg/golinters/godoclint/testdata/godoclint_full_pass.go
  pkg/golinters/godoclint/testdata/godoclint_full_pass_test.go
  pkg/lint/lintersdb/builder_linter.go
Labels: linter: new

#6060 Add unqueryvet linter
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/unqueryvet/testdata/unqueryvet.go
  pkg/golinters/unqueryvet/testdata/unqueryvet_custom.go
  pkg/golinters/unqueryvet/testdata/unqueryvet_custom.yml
  pkg/golinters/unqueryvet/unqueryvet.go
  pkg/golinters/unqueryvet/unqueryvet_integration_test.go
  pkg/lint/lintersdb/builder_linter.go
Labels: linter: new

#6087 build(deps): bump github.com/gostaticanalysis/nilerr from 0.1.1 to a fork
  go.mod
  go.sum
  pkg/golinters/nilerr/nilerr.go
  pkg/golinters/nilerr/testdata/nilerr.go
Labels: dependencies, linter: update version, go

#6095 docs: update GitHub Action assets
  assets/github-action-config-v1.json
  assets/github-action-config-v2.json
  assets/github-action-config.json
Labels: github_actions

#6100 fix: ignore some files to hash the version for custom build
  pkg/commands/internal/builder.go
  pkg/commands/internal/dirhash.go
Labels: bug, linter: custom

#6105 build(deps): bump github.com/gostaticanalysis/nilerr from 0.1.1 to 0.1.2
  go.mod
  go.sum
  pkg/golinters/nilerr/nilerr.go
Labels: dependencies, linter: update version, go
