Repository golangci/golangci-lint, pull requests merged in 2025-08, with the labels that each got.

#5967 docs: update GitHub Action assets
  assets/github-action-config-v2.json
Labels: github_actions

#5977 godox: trim filepath from report messages
  pkg/golinters/godox/godox.go
Labels: enhancement, linter: update

#5990 docs: fix filter bar items
  docs/content/docs/formatters/_index.md
  docs/content/docs/linters/_index.md
  docs/layouts/_partials/clickable-badge.html
  docs/layouts/_shortcodes/filter-bar.html
Labels: bug, area: docs

#5992 dev: better website footer
  docs/hugo.yaml
  docs/layouts/_partials/footer.html
Labels: enhancement, area: docs

#5991 dev: add website aliases
  docs/content/docs/configuration/_index.md
  docs/content/docs/contributing/_index.md
  docs/content/docs/contributing/architecture.md
  docs/content/docs/contributing/debug.md
  docs/content/docs/contributing/faq.md
  docs/content/docs/contributing/new-linters.md
  docs/content/docs/contributing/website.md
  docs/content/docs/contributing/workflow.md
  docs/content/docs/formatters/_index.md
  docs/content/docs/linters/_index.md
  docs/content/docs/linters/false-positives.md
  docs/content/docs/plugins/go-plugins.md
  docs/content/docs/plugins/module-plugins.md
  docs/content/docs/product/changelog.md
  docs/content/docs/product/migration-guide.md
  docs/content/docs/product/roadmap.md
  docs/content/docs/product/thanks.md
  docs/content/docs/welcome/faq.md
  docs/content/docs/welcome/install.md
  docs/content/docs/welcome/integrations.md
  docs/content/docs/welcome/quick-start.md
Labels: enhancement, area: docs

#5999 dev: minor doc style changes
  docs/content/docs/product/migration-guide.md
  docs/content/docs/welcome/install.md
  docs/layouts/_shortcodes/details.html
  docs/layouts/_shortcodes/image-card.html
Labels: area: docs, topic: cosmetic

#6002 docs: update GitHub Action assets
  assets/github-action-config-v1.json
  assets/github-action-config-v2.json
  assets/github-action-config.json
Labels: github_actions

#6007 dev: update to Hextra v0.10.0
  docs/assets/css/custom.css
  docs/content/_index.md
  docs/content/docs/_index.md
  docs/content/docs/product/changelog.md
  docs/go.mod
  docs/go.sum
  docs/hugo.yaml
  docs/layouts/404.html
  docs/layouts/_partials/clickable-badge.html
  docs/layouts/_partials/custom-cards.html
  docs/layouts/_partials/custom/head-end.html
  docs/layouts/_partials/footer.html
  docs/layouts/_partials/utils/extract-headings.html
  docs/layouts/_partials/utils/fragments.html
  docs/layouts/_shortcodes/button.html
  docs/layouts/_shortcodes/clickable-badge.html
  docs/layouts/_shortcodes/custom-cards.html
  docs/layouts/_shortcodes/details.html
  docs/layouts/_shortcodes/filter-bar.html
  docs/layouts/_shortcodes/image-card.html
  docs/layouts/_shortcodes/item-settings.html
  docs/layouts/_shortcodes/starcharts.html
Labels: enhancement, area: docs

#6010 dev: open starcharts in a new tab
  docs/layouts/_shortcodes/starcharts.html
Labels: area: docs

#6009 dev: fix item setting badges
  docs/layouts/_shortcodes/item-settings.html
Labels: area: docs

#6008 dev: remove generated files
  docs/.gitignore
  docs/data/formatter_settings.json
  docs/data/linter_settings.json
Labels: area: docs

#6028 dev: use namespaced partials and shortcodes
  docs/content/docs/_index.md
  docs/content/docs/configuration/cli.md
  docs/content/docs/configuration/file.md
  docs/content/docs/contributing/website.md
  docs/content/docs/donate/_index.md
  docs/content/docs/formatters/_index.md
  docs/content/docs/formatters/configuration.md
  docs/content/docs/linters/_index.md
  docs/content/docs/linters/configuration.md
  docs/content/docs/linters/false-positives.md
  docs/content/docs/plugins/_index.md
  docs/content/docs/plugins/module-plugins.md
  docs/content/docs/product/changelog.md
  docs/content/docs/product/migration-guide.md
  docs/content/docs/product/thanks.md
  docs/content/docs/welcome/install.md
  docs/content/docs/welcome/quick-start.md
  docs/layouts/_partials/clickable-badge.html
  docs/layouts/_partials/custom-cards.html
  docs/layouts/_partials/custom/head-end.html
  docs/layouts/_partials/footer.html
  docs/layouts/_partials/golangci/items/compare-versions.html
  docs/layouts/_partials/golangci/items/format-description.html
  docs/layouts/_partials/golangci/items/tag.html
  docs/layouts/_partials/shortcodes/badge.html
  docs/layouts/_partials/shortcodes/cards.html
  docs/layouts/_shortcodes/cards.html
  docs/layouts/_shortcodes/custom-cards.html
  docs/layouts/_shortcodes/details.html
  docs/layouts/_shortcodes/filter-bar.html
  docs/layouts/_shortcodes/golangci/authors.html
  docs/layouts/_shortcodes/golangci/button.html
  docs/layouts/_shortcodes/golangci/cli-output.html
  docs/layouts/_shortcodes/golangci/configuration-file-snippet.html
  docs/layouts/_shortcodes/golangci/embed.html
  docs/layouts/_shortcodes/golangci/exclusion-preset-tables.html
  docs/layouts/_shortcodes/golangci/exclusion-presets-snippet.html
  docs/layouts/_shortcodes/golangci/image-card.html
  docs/layouts/_shortcodes/golangci/items/cards.html
  docs/layouts/_shortcodes/golangci/items/filter-badge.html
  docs/layouts/_shortcodes/golangci/items/filter.html
  docs/layouts/_shortcodes/golangci/items/settings.html
  docs/layouts/_shortcodes/golangci/latest-version.html
  docs/layouts/_shortcodes/golangci/starcharts.html
Labels: area: docs, topic: cleanup

#6039 dev: update Hextra to v0.11.0
  docs/assets/css/custom.css
  docs/content/docs/formatters/_index.md
  docs/content/docs/linters/_index.md
  docs/content/docs/plugins/_index.md
  docs/go.mod
  docs/go.sum
  docs/hugo.yaml
  docs/layouts/_partials/shortcodes/badge.html
  docs/layouts/_shortcodes/golangci/items/filter-badge.html
  docs/layouts/_shortcodes/golangci/items/settings.html
Labels: area: docs

#6040 dev: style changes in migration guide
  docs/content/docs/product/migration-guide.md
Labels: area: docs, topic: cosmetic, area: migration
