Repository golangci/golangci-lint, pull requests merged in 2025-03, with the labels that each got.

#5494 docs: update GitHub Action assets
  assets/github-action-config-v1.json
  assets/github-action-config.json
Labels: github_actions

#5495 docs: update documentation assets
  .golangci.reference.yml
  CHANGELOG.md
  assets/linters-info.json
Labels: area: docs

#5497 docs: add GitLab documentation
  docs/src/docs/welcome/install.mdx
  docs/src/docs/welcome/integrations.mdx
Labels: enhancement, area: docs

#5501 dev: fix schema not accepting valid timeout
  .golangci.next.reference.yml
  .golangci.reference.yml
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
  jsonschema/golangci.v1.57.jsonschema.json
  jsonschema/golangci.v1.58.jsonschema.json
  jsonschema/golangci.v1.59.jsonschema.json
  jsonschema/golangci.v1.60.jsonschema.json
  jsonschema/golangci.v1.61.jsonschema.json
  jsonschema/golangci.v1.62.jsonschema.json
  jsonschema/golangci.v1.63.jsonschema.json
Labels: bug, area: JSON schema

#5487 feat: merge staticcheck, stylecheck, gosimple
  .golangci.next.reference.yml
  .golangci.yml
  assets/github-action-config-v1.json
  assets/github-action-config.json
  jsonschema/golangci.next.jsonschema.json
  pkg/commands/internal/builder.go
  pkg/config/linters_settings.go
  pkg/golinters/gosimple/gosimple.go
  pkg/golinters/gosimple/gosimple_integration_test.go
  pkg/golinters/internal/staticcheck_common.go
  pkg/golinters/staticcheck/staticcheck.go
  pkg/golinters/staticcheck/testdata/fix/in/gosimple.go
  pkg/golinters/staticcheck/testdata/fix/in/staticcheck.go
  pkg/golinters/staticcheck/testdata/fix/in/stylecheck.go
  pkg/golinters/staticcheck/testdata/fix/out/gosimple.go
  pkg/golinters/staticcheck/testdata/fix/out/staticcheck.go
  pkg/golinters/staticcheck/testdata/fix/out/stylecheck.go
  pkg/golinters/staticcheck/testdata/gosimple.go
  pkg/golinters/staticcheck/testdata/gosimple.yml
  pkg/golinters/staticcheck/testdata/gosimple_cgo.go
  pkg/golinters/staticcheck/testdata/staticcheck.go
  pkg/golinters/staticcheck/testdata/staticcheck.yml
  pkg/golinters/staticcheck/testdata/staticcheck_cgo.go
  pkg/golinters/staticcheck/testdata/stylecheck.go
  pkg/golinters/staticcheck/testdata/stylecheck.yml
  pkg/golinters/staticcheck/testdata/stylecheck_cgo.go
  pkg/golinters/stylecheck/stylecheck.go
  pkg/golinters/stylecheck/stylecheck_integration_test.go
  pkg/lint/lintersdb/builder_linter.go
  pkg/printers/printer.go
  pkg/result/processors/exclusion_presets.go
  test/testdata/configs/default_exclude.yml
  test/testdata/default_exclude.go
Labels: enhancement, linter: update

#5512 build(deps): bump github.com/golangci/dupl from 3e9179ac440a to f665c8d69b32
  go.mod
  go.sum
  pkg/golinters/dupl/dupl.go
Labels: bug, linter: update version

#5520 feat: drop v1 compatibility with exclude-dirs-use-default for fmt
  pkg/commands/internal/migrate/migrate_formatters.go
  pkg/commands/internal/migrate/testdata/json/empty.golden.json
  pkg/commands/internal/migrate/testdata/toml/empty.golden.toml
  pkg/commands/internal/migrate/testdata/yaml/empty.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/issues_07_a.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/issues_07_b.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/unknown-fields.golden.yml
  pkg/goformat/runner.go
Labels: topic: cleanup, area: formatters/fmt

#5518 dev: replace FileCache by LineCache
  pkg/fsutils/files.go
  pkg/lint/runner.go
  pkg/result/processors/base_rule.go
  pkg/result/processors/exclusion_rules.go
  pkg/result/processors/exclusion_rules_test.go
  pkg/result/processors/path_prettifier.go
  pkg/result/processors/severity.go
  pkg/result/processors/severity_test.go
Labels: topic: cleanup

#5519 chore: call to action
  go.mod
  go.sum
  pkg/commands/migrate.go
Labels: area: migration

#5522 feat: use homogeneous JSON flags
  .github/workflows/pr.yml
  pkg/commands/formatters.go
  pkg/commands/help_formatters.go
  pkg/commands/help_linters.go
  pkg/commands/linters.go
  pkg/commands/migrate.go
  pkg/commands/version.go
Labels: enhancement, area: CLI

#5523 dev: remove IdentifierMarker
  pkg/golinters/unparam/testdata/unparam.go
  pkg/golinters/unparam/testdata/unparam_cgo.go
  pkg/golinters/unused/testdata/unused.go
  pkg/golinters/unused/testdata/unused_cgo.go
  pkg/lint/runner.go
  pkg/result/processors/identifier_marker.go
  pkg/result/processors/identifier_marker_test.go
  test/run_test.go
Labels: topic: cleanup, area: output

#5524 feat: check version of the configuration
  pkg/commands/fmt.go
  pkg/commands/run.go
  test/run_test.go
Labels: enhancement, area: CLI

#5525 dev: rename and split workflow files
  .github/workflows/deploy-documentation.yml
  .github/workflows/pr-checks.yml
  .github/workflows/pr-tests.yml
  .github/workflows/release.yml
Labels: topic: cleanup, area: ci

#5528 docs: update GitHub Action assets
  assets/github-action-config-v1.json
  assets/github-action-config.json
Labels: github_actions

#5527 docs: update documentation assets
  CHANGELOG.md
  assets/linters-info.json
Labels: area: docs

#5529 docs: fix 'Slack' spelling
  docs/src/docs/index.mdx
Labels: area: docs, topic: cosmetic

#5543 feat: error if typecheck is enabled or disabled
  pkg/config/loader.go
Labels: enhancement, area: config

#5439 docs: add migration guide
  docs/src/config/sidebar.yml
  docs/src/docs/product/migration-guide.mdx
Labels: area: docs, area: migration

#5545 fix: improve staticcheck migration
  pkg/commands/internal/migrate/migrate_linter_names.go
  pkg/commands/internal/migrate/migrate_linters.go
  pkg/commands/internal/migrate/testdata/yaml/linters_09.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/linters_13_a.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/linters_13_a.yml
  pkg/commands/internal/migrate/testdata/yaml/linters_13_b.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/linters_13_b.yml
  pkg/commands/internal/migrate/testdata/yaml/linters_13_c.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/linters_13_c.yml
  pkg/commands/internal/migrate/testdata/yaml/linters_13_d.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/linters_13_d.yml
Labels: bug, area: migration

#5544 feat: detects linters inside formatters
  pkg/config/config.go
  pkg/config/formatters.go
  pkg/config/linters.go
Labels: area: config, area: formatters/fmt

#5550 docs: fix cache problem
  docs/gatsby-config.js
  docs/package-lock.json
  docs/package.json
Labels: bug, area: docs

#5549 docs: go tool note
  docs/src/docs/welcome/install.mdx
Labels: enhancement, area: docs

#5552 dev: simplify revive implementation
  pkg/golinters/revive/revive.go
Labels: enhancement, topic: cleanup, linter: update

#5553 docs: add a link to the documentation of the v1
  docs/src/config/sidebar.yml
  docs/src/docs/index.mdx
Labels: area: docs, topic: cleanup

#5559 dev: log a link to the migration guide
  pkg/commands/migrate.go
Labels: topic: cosmetic, area: CLI, area: migration

#5560 build(deps): bump github.com/Antonboom/nilnil from 1.0.1 to 1.1.0
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/nilnil/nilnil.go
  pkg/golinters/nilnil/testdata/nilnil_multiple_nils.go
  pkg/golinters/nilnil/testdata/nilnil_multiple_nils.yml
Labels: dependencies, linter: update version, go

#5562 docs: add arguments to a few revive rules
  .golangci.next.reference.yml
Labels: area: docs, topic: cosmetic

#5565 docs: update Homebrew installation manual
  docs/src/docs/welcome/install.mdx
Labels: area: docs, topic: cleanup

#5585 build(deps): bump github.com/timakin/bodyclose from ed6a65f985e3 to 1db5c5ca4d67
  go.mod
  go.sum
Labels: dependencies, linter: update version, go

#5586 docs: improve Docker example with cache reuse
  docs/src/docs/welcome/install.mdx
Labels: enhancement, area: docs

#5587 docs: add a migration guide for VSCode integration
  docs/src/docs/product/migration-guide.mdx
Labels: enhancement, area: docs, area: migration

#5588 feat: add option stdin for fmt command
  .github/workflows/pr-checks.yml
  assets/cli-help.json
  docs/src/docs/product/migration-guide.mdx
  docs/src/docs/welcome/integrations.mdx
  pkg/commands/fmt.go
  pkg/goformat/runner.go
Labels: enhancement, area: formatters/fmt

#5594 fix: funlen ignore-comments
  .golangci.next.reference.yml
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/funlen/funlen.go
  pkg/golinters/funlen/testdata/funlen.go
  pkg/golinters/funlen/testdata/funlen_cgo.go
  pkg/golinters/funlen/testdata/funlen_custom.go
  pkg/golinters/funlen/testdata/funlen_custom.yml
  pkg/golinters/funlen/testdata/funlen_ignore_comments.go
  pkg/golinters/funlen/testdata/funlen_ignore_comments.yml
Labels: bug, linter: update

#5598 docs: fix displaying GoLand logo on a dark theme
  README.md
  assets/goland-white.svg
Labels: area: docs, topic: cosmetic

#5599 fix: validate version before configuration
  pkg/commands/run.go
  pkg/config/loader.go
  test/enabled_linters_test.go
Labels: bug, area: CLI

#5607 fix: copy golines settings during linter settings load
  pkg/config/loader.go
  pkg/golinters/golines/testdata/fix/in/golines-custom.go
  pkg/golinters/golines/testdata/fix/out/golines-custom.go
  pkg/golinters/golines/testdata/golines-custom.yml
Labels: bug, area: formatters/fmt

#5606 fix: forbidigo migration
  pkg/commands/internal/migrate/migrate_linters_settings.go
  pkg/commands/internal/migrate/testdata/yaml/linters-settings_forbidigo.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/linters-settings_forbidigo.yml
Labels: bug, area: migration

#5609 docs: add example of the field version
  docs/src/docs/product/migration-guide.mdx
  docs/src/docs/usage/configuration.mdx
Labels: enhancement, area: docs

#5611 docs: update GitHub Action assets
  .github/workflows/pr-checks.yml
  .github/workflows/pr-tests.yml
  assets/github-action-config-v2.json
Labels: github_actions

#5613 docs: adaptive stargazers image
  README.md
Labels: area: docs, topic: cosmetic

#5620 fix: enable formatters with flags
  pkg/commands/config.go
  pkg/commands/fmt.go
  pkg/commands/formatters.go
  pkg/commands/linters.go
  pkg/commands/run.go
  pkg/config/loader.go
Labels: bug, area: CLI, area: formatters/fmt

#5621 docs: add section about flags migration
  docs/src/docs/product/migration-guide.mdx
Labels: enhancement, area: docs, area: CLI, area: migration

#5623 docs: update reference comment for errchkjson
  .golangci.next.reference.yml
Labels: area: docs, topic: cleanup

#5629 fix: use absolute filepath inside base rule source
  pkg/result/processors/base_rule.go
Labels: bug, area: exclusions

#5634 docs: update GitHub Action assets
  assets/github-action-config-v2.json
Labels: github_actions

#5632 docs: add version field to configuration sample
  scripts/website/expand_templates/linters.go
Labels: area: docs, topic: cosmetic

#5635 docs: remove golint in nolint example
  docs/src/docs/usage/false-positives.mdx
  pkg/result/processors/nolint_filter_test.go
Labels: area: docs, topic: cleanup

#5638 docs: fix config reference for formatters
  .golangci.next.reference.yml
  .golangci.reference.yml
Labels: area: docs, topic: cleanup

#5639 docs: improve version documentation
  .golangci.next.reference.yml
  .golangci.reference.yml
  docs/src/docs/usage/configuration.mdx
  scripts/website/expand_templates/linters.go
Labels: area: docs, topic: cleanup

#5643 docs: fix settings examples
  scripts/website/expand_templates/linters.go
Labels: bug, area: docs

#5659 docs: cleanup config reference
  .golangci.next.reference.yml
Labels: area: docs, topic: cleanup

#5662 dev: rewrite and simplify thanks page generation
  pkg/lint/lintersdb/builder_linter.go
  scripts/website/expand_templates/thanks.go
  scripts/website/expand_templates/thanks_test.go
Labels: area: docs, topic: cleanup

#5665 docs: remove tenv linter settings
  .golangci.next.reference.yml
  .golangci.reference.yml
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
Labels: area: docs, topic: cleanup

#5661 docs: improve default exclusions render
  docs/src/@rocketseat/gatsby-theme-docs/src/styles/global.js
  scripts/website/expand_templates/exclusions.go
Labels: enhancement, area: docs, topic: cosmetic

#5669 docs: fix `go get -tool` command
  docs/src/docs/welcome/install.mdx
Labels: bug, area: docs
