Repository golangci/golangci-lint, pull requests merged in 2025-02, with the labels that each got.

#5363 feat: use run.relative-path-mode for output format paths
  pkg/commands/run.go
  pkg/printers/printer.go
  pkg/printers/printer_test.go
Labels: enhancement, area: output

#5373 tenv: deprecation
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/usetesting/testdata/usetesting.go
  pkg/lint/lintersdb/builder_linter.go
Labels: topic: cleanup, linter: update

#5377 dev: use HEAD as references
  .github/peril/README.md
  .github/peril/settings.json
  .github/workflows/codeql.yml
  .github/workflows/documentation.yml
  .github/workflows/post-release.yml
  .github/workflows/pr.yml
  .golangci.next.reference.yml
  .golangci.reference.yml
  .goreleaser.yml
  CHANGELOG.md
  assets/linters-info.json
  docs/src/components/SearchBar/README.md
  docs/src/docs/contributing/debug.mdx
  docs/src/docs/contributing/faq.mdx
  docs/src/docs/contributing/new-linters.mdx
  docs/src/docs/contributing/workflow.mdx
  docs/src/docs/index.mdx
  docs/src/docs/plugins/go-plugins.mdx
  docs/src/docs/usage/configuration.mdx
  docs/src/docs/usage/false-positives.mdx
  docs/src/docs/welcome/install.mdx
  install.sh
  pkg/golinters/gocritic/testdata/ruleguard/README.md
  pkg/lint/lintersdb/builder_linter.go
  pkg/printers/codeclimate.go
  scripts/bench/bench_local.sh
  scripts/bench/bench_version.sh
Labels: topic: cosmetic

#5383 dev: remove unused AssetURL from github action assets
  assets/github-action-config-v1.json
  assets/github-action-config.json
  scripts/gen_github_action_config/main.go
  scripts/gen_github_action_config/testdata/github-action-config-v1.json
  scripts/gen_github_action_config/testdata/github-action-config.json
  scripts/gen_github_action_config/types.go
Labels: topic: cleanup, github_actions

#5392 docs: update GitHub Action assets
  assets/github-action-config-v1.json
  assets/github-action-config.json
Labels: github_actions

#5394 dev: fix JSONSchema publication
  scripts/website/copy_jsonschema/main.go
Labels: bug, area: JSON schema

#5395 dev: fix JSONSchema publication
  scripts/website/copy_jsonschema/main.go
Labels: bug, area: JSON schema

#5397 docs: update install from sources paragraph
  docs/src/docs/welcome/install.mdx
Labels: area: docs, topic: cleanup

#5401 docs: option name typo inside changelog
  CHANGELOG.md
Labels: area: docs

#5405 dev: update Docker base images
  build/buildx-alpine.Dockerfile
  build/buildx.Dockerfile
Labels: bug, docker

#5406 docs: update GitHub Action assets
  .github/workflows/pr.yml
  CHANGELOG.md
  assets/github-action-config-v1.json
  assets/github-action-config.json
Labels: area: docs, github_actions

#5407 gci: fix section parsing
  pkg/goformatters/gci/internal/config/config.go
  pkg/goformatters/gci/internal/section/section.go
  pkg/golinters/gci/testdata/gci_go124.go
Labels: bug, linter: update

#5408 docs: update GitHub Action assets
  CHANGELOG.md
  assets/github-action-config-v1.json
  assets/github-action-config.json
Labels: area: docs, github_actions

#5412 fix: add missing new-from-merge-base flag
  pkg/commands/flagsets.go
Labels: bug, area: CLI

#5413 docs: update GitHub Action assets
  assets/github-action-config-v1.json
  assets/github-action-config.json
Labels: github_actions

#5414 docs: update documentation assets
  CHANGELOG.md
  assets/cli-help.json
  assets/linters-info.json
Labels: area: docs

#5415 docs: fix typos in changelog
  CHANGELOG.md
Labels: area: docs

#5426 Require type for oneOf mutual exclusion
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
  jsonschema/golangci.v1.57.jsonschema.json
  jsonschema/golangci.v1.58.jsonschema.json
  jsonschema/golangci.v1.59.jsonschema.json
  jsonschema/golangci.v1.60.jsonschema.json
  jsonschema/golangci.v1.61.jsonschema.json
  jsonschema/golangci.v1.62.jsonschema.json
  jsonschema/golangci.v1.63.jsonschema.json
  test/testdata/configs/custom_linter_goplugin.yml
  test/testdata/configs/custom_linter_module.yml
  test/testdata/configs/custom_linter_notype.yml
Labels: bug, area: JSON schema

#5385 dev: GitHub actions assets v2
  .gitattributes
  assets/github-action-config-v2.json
  scripts/gen_github_action_config/main.go
  scripts/gen_github_action_config/main_test.go
  scripts/gen_github_action_config/testdata/github-action-config-v2.json
Labels: enhancement, github_actions

#5424 dev: ask about installation inside issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: topic: cosmetic

#5431 feat: add an option to display config path as JSON
  pkg/commands/config.go
Labels: enhancement, area: CLI

#5433 dev: add editor/IDE inside issue template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: topic: cosmetic

#5434 docs: fix a syntax typo
  docs/src/docs/welcome/faq.mdx
Labels: area: docs

#5436 dev: add missing mapstructure tags
  pkg/config/base_rule.go
  pkg/config/formatters_settings.go
  pkg/config/linters.go
  pkg/config/linters_settings.go
  pkg/config/severity.go
Labels: area: config, topic: cosmetic

#5445 dev: improve deprecation warning for tenv linter
  pkg/lint/lintersdb/builder_linter.go
Labels: topic: cosmetic

#5448 dev: jsonschema support for revive comment directives
  .golangci.next.reference.yml
  .golangci.reference.yml
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
  jsonschema/golangci.v1.57.jsonschema.json
  jsonschema/golangci.v1.58.jsonschema.json
  jsonschema/golangci.v1.59.jsonschema.json
  jsonschema/golangci.v1.60.jsonschema.json
  jsonschema/golangci.v1.61.jsonschema.json
  jsonschema/golangci.v1.62.jsonschema.json
  jsonschema/golangci.v1.63.jsonschema.json
Labels: bug, area: JSON schema

#5446 feat: remove compatibility layer for formatters configuration
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/gci/testdata/gci.yml
  pkg/golinters/gofmt/testdata/gofmt_no_simplify.yml
  pkg/golinters/gofmt/testdata/gofmt_rewrite_rules.yml
  pkg/golinters/gofumpt/testdata/gofumpt-fix.yml
  pkg/golinters/gofumpt/testdata/gofumpt_with_extra.yml
  pkg/golinters/goimports/testdata/goimports_local.yml
  test/testdata/configs/multiple-issues-fix.yml
Labels: enhancement, area: formatters/fmt

#5451 feat: remove v1 exclusion configuration
  .github/workflows/pr.yml
  .golangci.next.reference.yml
  .golangci.yml
  assets/cli-help.json
  assets/default-exclusions.json
  assets/exclusion-presets.json
  assets/linters-info.json
  docs/src/docs/usage/false-positives.mdx
  jsonschema/golangci.next.jsonschema.json
  pkg/commands/flagsets.go
  pkg/commands/run.go
  pkg/config/config.go
  pkg/config/issues.go
  pkg/config/issues_test.go
  pkg/config/linters_exclusions.go
  pkg/config/linters_exclusions_test.go
  pkg/config/loader.go
  pkg/golinters/errcheck/testdata/errcheck.go
  pkg/golinters/exhaustive/testdata/exhaustive_generated.go
  pkg/golinters/gosec/testdata/gosec.go
  pkg/golinters/revive/testdata/revive.go
  pkg/golinters/revive/testdata/revive.yml
  pkg/golinters/revive/testdata/revive_default.go
  pkg/golinters/stylecheck/testdata/fix/in/stylecheck.go
  pkg/golinters/stylecheck/testdata/fix/out/stylecheck.go
  pkg/golinters/stylecheck/testdata/stylecheck.go
  pkg/golinters/stylecheck/testdata/stylecheck_cgo.go
  pkg/golinters/stylecheck/testdata/stylecheck_not_in_megacheck.go
  pkg/lint/lintersdb/builder_linter.go
  pkg/lint/runner.go
  pkg/result/processors/exclusion_presets.go
  pkg/result/processors/exclusion_rules.go
  pkg/result/processors/exclusion_rules_test.go
  pkg/result/processors/skip_dirs.go
  pkg/result/processors/skip_dirs_test.go
  pkg/result/processors/skip_files.go
  pkg/result/processors/skip_files_test.go
  scripts/website/dump_info/main.go
  scripts/website/expand_templates/exclusions.go
  scripts/website/expand_templates/main.go
  scripts/website/types/types.go
  test/run_test.go
  test/testdata/cgo/main.go
  test/testdata/configs/default_exclude.yml
  test/testdata/configs/path-except.yml
  test/testdata/default_exclude.go
  test/testdata/skipdirs/examples/with_issue.go
  test/testdata/skipdirs/examples_no_skip/with_issue.go
  test/testdata/skipdirs/skip_me/nested/with_issue.go
  test/testdata/unsafe/pkg.go
Labels: topic: cleanup, area: exclusions

#5455 docs: add arguments to `revive.error-strings`
  .golangci.next.reference.yml
  pkg/golinters/revive/testdata/revive.go
  pkg/golinters/revive/testdata/revive.yml
Labels: area: docs

#5454 feat: new default for relative-path-mode to cfg
  .golangci.next.reference.yml
  pkg/fsutils/basepath.go
  pkg/golinters/gocritic/gocritic.go
  pkg/golinters/gocritic/testdata/gocritic_configDir.go
  pkg/golinters/gocritic/testdata/gocritic_configDir.yml
  pkg/golinters/internal/commons.go
  pkg/lint/lintersdb/builder_plugin_go.go
  test/run_test.go
  test/testdata/configs/default_exclude.yml
  test/testdata/configs/multiple-issues-fix.yml
  test/testdata/configs/output.yml
  test/testdata/configs/path-except.yml
Labels: enhancement

#5462 feat: configuration options renaming
  .golangci.next.reference.yml
  .golangci.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/config/severity.go
  pkg/golinters/forbidigo/forbidigo.go
  pkg/golinters/forbidigo/testdata/forbidigo.yml
  pkg/golinters/forbidigo/testdata/forbidigo_struct.yml
  pkg/golinters/misspell/misspell.go
  pkg/golinters/misspell/testdata/misspell.yml
  pkg/golinters/predeclared/testdata/predeclared_custom.yml
  test/testdata/configs/output.yml
  test/testdata/configs/path-except.yml
Labels: area: config, topic: cleanup

#5463 govet: skip fieldalignment test on 32bit platforms
  pkg/golinters/govet/testdata/govet_fieldalignment.go
  test/testshared/directives.go
Labels: area: tests

#5464 feat: remove options
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/config/severity.go
  pkg/goformatters/gci/gci.go
  pkg/golinters/asasalint/asasalint.go
  pkg/golinters/cyclop/cyclop.go
  pkg/golinters/exhaustive/exhaustive.go
  pkg/golinters/goconst/goconst.go
  pkg/golinters/goconst/testdata/goconst_dont_ignore.yml
  pkg/golinters/goconst/testdata/goconst_dont_ignore_test.go
  pkg/golinters/goconst/testdata/goconst_ignore.yml
  pkg/golinters/goconst/testdata/goconst_ignore_test.go
  pkg/golinters/gosec/gosec.go
  pkg/golinters/gosmopolitan/gosmopolitan.go
  pkg/golinters/gosmopolitan/testdata/gosmopolitan_dont_ignore_test.go
  pkg/golinters/gosmopolitan/testdata/gosmopolitan_dont_ignore_tests.yml
  pkg/golinters/gosmopolitan/testdata/gosmopolitan_ignore_test.go
  pkg/golinters/perfsprint/perfsprint.go
  pkg/golinters/revive/revive.go
  pkg/golinters/revive/testdata/revive-fix.yml
  pkg/golinters/revive/testdata/revive.yml
  pkg/result/processors/base_rule.go
  pkg/result/processors/severity.go
  pkg/result/processors/severity_test.go
Labels: area: config, topic: cleanup

#5465 feat: new default sort order
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/commands/flagsets.go
  pkg/config/output.go
  pkg/config/output_test.go
  pkg/result/processors/sort_results.go
  pkg/result/processors/sort_results_test.go
  test/run_test.go
Labels: enhancement, area: processors

#5468 feat: convert comma separated to slices
  .golangci.next.reference.yml
  .golangci.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/config/formatters_settings.go
  pkg/config/linters_settings.go
  pkg/goformatters/goimports/goimports.go
  pkg/golinters/goimports/testdata/goimports_local.yml
  pkg/golinters/predeclared/predeclared.go
  pkg/golinters/predeclared/testdata/predeclared_custom.yml
Labels: topic: cleanup, linter: update

#5470 feat: new default values
  .golangci.next.reference.yml
  .golangci.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/commands/flagsets.go
  pkg/commands/run.go
  pkg/config/config.go
  test/run_test.go
  test/testshared/integration/run.go
Labels: area: config, topic: cleanup

#5472 feat: remove alternative names
  docs/src/docs/product/performance.mdx
  pkg/golinters/gosec/testdata/gosec.go
  pkg/golinters/gosimple/testdata/gosimple.go
  pkg/golinters/govet/testdata/govet.go
  pkg/golinters/loggercheck/testdata/logrlint_compatiblity.go
  pkg/golinters/staticcheck/testdata/staticcheck.go
  pkg/golinters/staticcheck/testdata/staticcheck_in_megacheck.go
  pkg/golinters/stylecheck/testdata/stylecheck.go
  pkg/golinters/stylecheck/testdata/stylecheck_not_in_megacheck.go
  pkg/golinters/unused/testdata/unused.go
  pkg/lint/lintersdb/builder_linter.go
  pkg/lint/lintersdb/manager_test.go
  pkg/lint/lintersdb/validator_test.go
  pkg/result/processors/nolint_filter_test.go
  pkg/result/processors/testdata/nolint_filter/nolint.go
  test/testdata/withxtest/p_test.go
Labels: area: config, topic: cleanup

#5474 chore: apply same default limitations on all formatters
  .golangci.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/result/processors/max_per_file_from_linter.go
Labels: topic: cleanup, area: formatters/fmt

#5477 docs: update goheader.template reference
  .golangci.next.reference.yml
Labels: area: docs, topic: cleanup

#5479 fix: use commit hash when version is v0.0.0
  pkg/commands/config_verify.go
  pkg/commands/config_verify_test.go
Labels: bug, area: severity, area: JSON schema
