Repository golangci/golangci-lint, pull requests merged in 2025-01, with the labels that each got.

#5267 feat: format fixed files with the same formatters as the issues related to formatting
  pkg/goformatters/meta_formatter.go
  pkg/lint/runner.go
  pkg/result/processors/fixer.go
  pkg/result/processors/formatter.go
Labels: enhancement, area: auto-fix

#5270 docs: update GitHub Action assets
  assets/github-action-config.json
Labels: github_actions

#5272 fix: filter files
  pkg/goanalysis/position.go
  pkg/golinters/godox/godox.go
  pkg/golinters/gofmt/gofmt.go
  pkg/golinters/gofumpt/gofumpt.go
  pkg/golinters/gofumpt/testdata/fix/in/gofumpt_cgo.go
  pkg/golinters/gofumpt/testdata/fix/out/gofumpt_cgo.go
  pkg/golinters/goheader/goheader.go
  pkg/golinters/goimports/goimports.go
  pkg/golinters/goimports/testdata/fix/in/goimports_cgo.go
  pkg/golinters/goimports/testdata/fix/out/goimports_cgo.go
  pkg/golinters/lll/lll.go
  pkg/golinters/misspell/misspell.go
  pkg/golinters/nestif/nestif.go
Labels: bug, linter: update, area: cgo

#5274 gci: fix cgo
  go.mod
  go.sum
  pkg/golinters/gci/gci.go
  pkg/golinters/gci/internal/analyzer.go
  pkg/golinters/gci/internal/errors.go
  pkg/golinters/gci/testdata/gci.go
  pkg/golinters/gci/testdata/gci_cgo.go
Labels: bug, area: cgo

#5275 dev: fix aur sources
  .goreleaser.yml
Labels: bug, area: install, area: ci

#5276 docs: update GitHub Action assets
  assets/github-action-config.json
Labels: github_actions

#5277 docs: update documentation assets
  CHANGELOG.md
  pkg/golinters/gci/gci.go
Labels: area: docs

#5279 fix: invalid position when missing EOL
  pkg/goanalysis/position.go
  pkg/golinters/gofumpt/testdata/gofumpt.go
Labels: bug, linter: update

#5280 docs: update GitHub Action assets
  CHANGELOG.md
  assets/github-action-config.json
Labels: area: docs, github_actions

#5286 goheader: skip issues with invalid positions
  pkg/golinters/goheader/goheader.go
Labels: bug, linter: update

#5287 fix: invalid from position
  pkg/golinters/gofmt/testdata/gofmt_too_many_empty_lines.go
  pkg/golinters/gofumpt/testdata/gofumpt_too_many_empty_lines.go
  pkg/golinters/internal/diff.go
  pkg/golinters/internal/diff_test.go
  pkg/golinters/internal/testdata/delete_last_line.diff
Labels: bug, linter: update

#5288 docs: update GitHub Action assets
  CHANGELOG.md
  assets/github-action-config.json
Labels: area: docs, github_actions

#5291 fix: filter Go filenames
  pkg/goanalysis/position.go
  pkg/golinters/dupl/dupl.go
  pkg/golinters/gomodguard/gomodguard.go
  pkg/golinters/internal/util.go
  pkg/golinters/revive/revive.go
  pkg/golinters/revive/revive_integration_test.go
  pkg/golinters/revive/testdata/fix/in/revive.go
  pkg/golinters/revive/testdata/fix/out/revive.go
  pkg/golinters/revive/testdata/revive-fix.yml
Labels: bug, linter: update

#5292 docs: update GitHub Action assets
  CHANGELOG.md
  assets/github-action-config.json
Labels: area: docs, github_actions

#5301 dev: standardization of the integration of formatters
  .golangci.yml
  go.mod
  go.sum
  pkg/goformatters/analyzer.go
  pkg/goformatters/gci/gci.go
  pkg/goformatters/gofmt/gofmt.go
  pkg/goformatters/gofumpt/gofumpt.go
  pkg/goformatters/goimports/goimports.go
  pkg/goformatters/internal/commons.go
  pkg/goformatters/internal/diff.go
  pkg/goformatters/internal/diff_test.go
  pkg/goformatters/internal/testdata/add_only.diff
  pkg/goformatters/internal/testdata/add_only_different_lines.diff
  pkg/goformatters/internal/testdata/add_only_in_all_diff.diff
  pkg/goformatters/internal/testdata/add_only_multiple_lines.diff
  pkg/goformatters/internal/testdata/add_only_on_first_line.diff
  pkg/goformatters/internal/testdata/add_only_on_first_line_with_shared_original_line.diff
  pkg/goformatters/internal/testdata/delete_last_line.diff
  pkg/goformatters/internal/testdata/delete_only_first_lines.diff
  pkg/goformatters/internal/testdata/gofmt_diff.diff
  pkg/goformatters/internal/testdata/replace_line.diff
  pkg/goformatters/internal/testdata/replace_line_after_first_line_adding.diff
  pkg/goformatters/meta_formatter.go
  pkg/golinters/gci/gci.go
  pkg/golinters/gci/testdata/gci.go
  pkg/golinters/gci/testdata/gci_cgo.go
  pkg/golinters/gofmt/gofmt.go
  pkg/golinters/gofumpt/gofumpt.go
  pkg/golinters/gofumpt/testdata/gofumpt.go
  pkg/golinters/goimports/goimports.go
  pkg/logutils/logutils.go
  pkg/result/processors/max_per_file_from_linter.go
Labels: enhancement, linter: update

#5304 dev: avoid string conversion by passing byte slice
  pkg/goformatters/analyzer.go
  pkg/goformatters/internal/commons.go
  pkg/goformatters/internal/diff.go
Labels: topic: cleanup

#5312 fix: avoid panic with plugin without description
  pkg/commands/help.go
  pkg/commands/help_test.go
Labels: bug, linter: custom

#5321 docs: clarify depguard configuration
  .golangci.next.reference.yml
  .golangci.reference.yml
Labels: enhancement, area: docs

#5320 chore: remove duplicate linter inside the configuration
  .golangci.yml
Labels: topic: cleanup

#5316 dev: processor optimizations
  pkg/commands/run.go
  pkg/golinters/misspell/misspell.go
  pkg/golinters/misspell/testdata/misspell_cgo.go
  pkg/lint/context.go
  pkg/lint/linter/context.go
  pkg/lint/runner.go
  pkg/logutils/logutils.go
  pkg/result/processors/cgo.go
  pkg/result/processors/diff.go
  pkg/result/processors/filename_unadjuster.go
  pkg/result/processors/identifier_marker.go
  pkg/result/processors/identifier_marker_test.go
  pkg/result/processors/path_absoluter.go
  pkg/result/processors/path_prettifier.go
Labels: enhancement, area: processors

#5322 dev: new processor order
  pkg/fsutils/fsutils.go
  pkg/fsutils/fsutils_test.go
  pkg/lint/runner.go
  pkg/result/processors/autogenerated_exclude.go
  pkg/result/processors/cgo.go
  pkg/result/processors/diff.go
  pkg/result/processors/exclude.go
  pkg/result/processors/exclude_rules.go
  pkg/result/processors/filename_unadjuster.go
  pkg/result/processors/fixer.go
  pkg/result/processors/identifier_marker.go
  pkg/result/processors/invalid_issue.go
  pkg/result/processors/max_from_linter.go
  pkg/result/processors/max_per_file_from_linter.go
  pkg/result/processors/max_same_issues.go
  pkg/result/processors/nolint.go
  pkg/result/processors/path_prefixer.go
  pkg/result/processors/path_prettifier.go
  pkg/result/processors/path_shortener.go
  pkg/result/processors/severity.go
  pkg/result/processors/skip_dirs.go
  pkg/result/processors/skip_files.go
  pkg/result/processors/sort_results.go
  pkg/result/processors/source_code.go
  pkg/result/processors/uniq_by_line.go
Labels: enhancement, topic: cleanup

#5327 dev: linter log consistency
  pkg/golinters/gocritic/gocritic.go
  pkg/golinters/govet/govet.go
Labels: topic: cosmetic, linter: update

#5325 dev: displays revive rules inside debug logs
  .golangci.next.reference.yml
  pkg/golinters/revive/revive.go
Labels: topic: cosmetic, linter: update

#5324 fix: spancheck default StartSpanMatchersSlice values
  pkg/golinters/spancheck/spancheck.go
  pkg/golinters/spancheck/testdata/spancheck.go
  pkg/golinters/spancheck/testdata/spancheck_keep_default.go
  pkg/golinters/spancheck/testdata/spancheck_keep_default.yml
Labels: bug, linter: update

#5328 dev: move `forbidigo` debug const to const linters group
  pkg/logutils/logutils.go
Labels: topic: cosmetic

#5338 docs: add default exclusion names to the JSONSchema
  jsonschema/golangci.next.jsonschema.json
Labels: area: JSON schema

#5347 docs: remove "good first issue" mention
  docs/src/docs/contributing/quick-start.mdx
Labels: area: docs, topic: cleanup

#5350 fix: fallback on unknown severities for code climate
  pkg/printers/codeclimate.go
  pkg/printers/codeclimate_test.go
Labels: bug, area: output

#5351 docs: improve revive configuration examples
  .golangci.next.reference.yml
Labels: area: docs

#5358 docs: update FAQ about updating linter
  docs/src/docs/contributing/faq.mdx
Labels: enhancement, area: docs

#5359 fix: sanitize severities by output format
  pkg/logutils/logutils.go
  pkg/printers/checkstyle.go
  pkg/printers/checkstyle_test.go
  pkg/printers/codeclimate.go
  pkg/printers/codeclimate_test.go
  pkg/printers/html.go
  pkg/printers/json.go
  pkg/printers/json_test.go
  pkg/printers/junitxml.go
  pkg/printers/junitxml_test.go
  pkg/printers/printer.go
  pkg/printers/sarif.go
  pkg/printers/sarif_test.go
  pkg/printers/tab.go
  pkg/printers/tab_test.go
  pkg/printers/teamcity.go
  pkg/printers/teamcity_test.go
  pkg/printers/testdata/golden-teamcity.txt
  pkg/printers/text.go
  pkg/printers/text_test.go
Labels: bug, area: output

#5361 dev: cleanup printers
  pkg/config/output.go
  pkg/printers/codeclimate.go
  pkg/printers/junitxml.go
  pkg/printers/junitxml_test.go
  pkg/printers/printer.go
  pkg/printers/tab.go
Labels: topic: cleanup, area: output

#5362 feat: add new issues.new-from-merge-base option
  .golangci.next.reference.yml
  docs/src/docs/welcome/faq.mdx
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/config/issues.go
  pkg/result/processors/diff.go
Labels: enhancement
