Repository golangci/golangci-lint, pull requests merged in 2025-04, with the labels that each got.

#5673 fix: gocritic importshadow checker
  pkg/goformat/runner.go
  pkg/golinters/gocritic/gocritic.go
  pkg/golinters/gocritic/gocritic_settings.go
  pkg/golinters/gocritic/testdata/gocritic_importShadow.go
  pkg/golinters/gocritic/testdata/gocritic_inportShadow.yml
  pkg/golinters/revive/revive.go
  pkg/lint/package.go
Labels: bug, linter: update

#5682 docs: add link to issues related to some integrations
  docs/src/docs/welcome/integrations.mdx
Labels: enhancement, area: docs

#5650 feat: add config path placeholder
  .golangci.next.reference.yml
  pkg/config/placeholders.go
  pkg/golinters/depguard/depguard.go
  pkg/golinters/gocritic/gocritic.go
  pkg/golinters/gocritic/gocritic_settings.go
  pkg/golinters/gocritic/gocritic_settings_test.go
  pkg/golinters/gocritic/testdata/gocritic.yml
  pkg/golinters/goheader/goheader.go
  pkg/golinters/internal/commons.go
  pkg/lint/lintersdb/builder_linter.go
Labels: enhancement, linter: update

#5651 feat: add an option to display absolute paths
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/commands/flagsets.go
  pkg/config/output.go
  pkg/config/output_test.go
  pkg/fsutils/basepath.go
  pkg/lint/runner.go
  pkg/result/processors/path_prettifier.go
  pkg/result/processors/path_prettifier_test.go
Labels: enhancement, area: output

#5652 feat: colored diff for fmt command
  go.mod
  go.sum
  pkg/commands/fmt.go
  pkg/goformat/runner.go
Labels: enhancement, topic: cosmetic, area: formatters/fmt

#5668 feat: add warn-unused option for fmt command
  .golangci.next.reference.yml
  jsonschema/golangci.next.jsonschema.json
  pkg/config/formatters.go
  pkg/goformat/runner.go
  pkg/result/processors/exclusion_paths.go
Labels: enhancement, area: exclusions, area: formatters/fmt

#5692 docs: add `redundant-test-main-exit` to `revive` rules
  .golangci.next.reference.yml
  .golangci.reference.yml
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
Labels: enhancement, area: docs, area: JSON schema

#5697 docs: explicitly describe that the `migrate` command automatically migrate `linters.presets`
  docs/src/docs/product/migration-guide.mdx
Labels: area: docs, area: migration

#5705 feat: add golangci-lint-fmt pre-commit hook
  .pre-commit-hooks.yaml
Labels: enhancement, area: pre-commit

#5706 docs: update section about vscode integration
  docs/src/docs/welcome/integrations.mdx
Labels: enhancement, area: docs, area: integrations

#5713 build(deps): bump github.com/golangci/unconvert to HEAD
  go.mod
  go.sum
  pkg/golinters/unconvert/unconvert.go
Labels: dependencies, linter: update version, go

#5717 govet: add `httpmux` analyzer
  .golangci.next.reference.yml
  pkg/golinters/govet/govet.go
Labels: linter: update

#5630 Add funcorder linter
  .golangci.next.reference.yml
  go.mod
  go.sum
  jsonschema/golangci.next.jsonschema.json
  pkg/config/linters_settings.go
  pkg/golinters/funcorder/funcorder.go
  pkg/golinters/funcorder/funcorder_integration_test.go
  pkg/golinters/funcorder/testdata/funcorder.go
  pkg/golinters/funcorder/testdata/funcorder_disable_constructor.go
  pkg/golinters/funcorder/testdata/funcorder_disable_constructor.yml
  pkg/golinters/funcorder/testdata/funcorder_struct_method.go
  pkg/golinters/funcorder/testdata/funcorder_struct_method.yml
  pkg/lint/lintersdb/builder_linter.go
Labels: linter: new

#5723 docs: update GitHub Action assets
  assets/github-action-config-v1.json
  assets/github-action-config-v2.json
  assets/github-action-config.json
Labels: github_actions

#5722 docs: update documentation assets
  .golangci.reference.yml
  assets/cli-help.json
  assets/linters-info.json
  jsonschema/golangci.jsonschema.json
  jsonschema/golangci.next.jsonschema.json
  jsonschema/golangci.v1.64.jsonschema.json
Labels: area: docs

#5724 docs: update GitHub Action assets
  assets/github-action-config-v2.json
Labels: github_actions

#5731 dev: simplify mnd implementation
  pkg/golinters/mnd/mnd.go
  pkg/golinters/mnd/testdata/mnd_custom.go
  pkg/golinters/mnd/testdata/mnd_custom.yml
Labels: topic: cleanup

#5735 docs: fix default value of linters.exclusions.generated
  .golangci.next.reference.yml
  .golangci.reference.yml
Labels: bug, area: docs

#5738 docs: update GitHub Action assets
  assets/github-action-config-v2.json
Labels: github_actions

#5740 docs: update section about GoLand integration
  docs/src/docs/welcome/integrations.mdx
Labels: area: docs

#5739 fix: add go.mod hash to the cache salt
  pkg/commands/run.go
  pkg/config/config.go
  pkg/config/loader.go
  pkg/logutils/logutils.go
Labels: bug, area: cache

#5742 dev: disable check-generated job
  .github/workflows/pr-checks.yml
Labels: area: ci

#5746 fix: related information position
  pkg/goanalysis/runners.go
Labels: bug, area: output

#5750 docs: GoLand IDE only support v1 for now
  docs/src/docs/welcome/integrations.mdx
Labels: area: docs

#5755 fix: convert uint as pointer of uint for the migration
  pkg/commands/internal/migrate/cloner/cloner.go
  pkg/commands/internal/migrate/testdata/yaml/linters-settings_nakedret_zero.golden.yml
  pkg/commands/internal/migrate/testdata/yaml/linters-settings_nakedret_zero.yml
  pkg/commands/internal/migrate/versionone/linters_settings.go
  pkg/commands/internal/migrate/versiontwo/formatters.go
  pkg/commands/internal/migrate/versiontwo/linters_settings.go
  pkg/commands/internal/migrate/versiontwo/output.go
Labels: bug, area: migration

#5757 build(deps): bump go.augendre.info/fatcontext from 0.7.2 to 0.8.0
  go.mod
  go.sum
  pkg/golinters/fatcontext/fatcontext.go
  scripts/website/expand_templates/thanks.go
Labels: dependencies, linter: update version, go

#5758 docs: GoLand IDE support v2
  docs/src/docs/welcome/integrations.mdx
Labels: area: docs, area: integrations

#5762 docs: update GitHub Action assets
  assets/github-action-config-v2.json
Labels: github_actions

#5763 chore: prepare release
  CHANGELOG.md
Labels: area: ci

#5764 docs: update GitHub Action assets
  assets/github-action-config-v2.json
Labels: github_actions

#5765 chore: prepare release
  CHANGELOG.md
Labels: area: ci

#5766 docs: update GitHub Action assets
  assets/github-action-config-v2.json
Labels: github_actions
